@model PortalRoemmers.Areas.Sistemas.Models.Usuario.UsuarioModels

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12">
    <div class="white-box p-l-20 p-r-20">
        @Html.AntiForgeryToken()
        <h3 class="box-title m-b-0"> Restablezca la contraseña.</h3>
        <p class="text-muted m-b-30 font-13"> </p>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", @id = "formReset" }))
        {

            @Html.HiddenFor(model => model.idAcc)
            @Html.HiddenFor(model => model.nomComEmp)

            <div class="form-group">
                @Html.LabelFor(model => model.email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.userpass, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.userpass, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.confirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <input type="submit" class="btn btn-block btn-outline btn-rounded btn-info" value="Restablecer" />
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script>
    $(document).ready(function () {
        $("#formReset").submit(function (e) {


            var pass_1 = $('#userpass').val();
            var _this_1 = $('#userpass');

            var pass_2 = $('#confirmPassword').val();
            var _this_2 = $('#confirmPassword');

            if (pass_1 == pass_2) {

                return true;
            } else {

                _this_1.attr('style', 'border-bottom: 1px solid #ff7676');
                _this_2.attr('style', 'border-bottom: 1px solid #ff7676');

                return false;
            }
        });
    });
    </script>
}