@model PortalRoemmers.Areas.Marketing.Models.FarmacoVigilancia.EventoAdversoModels
@using PortalRoemmers.Security
@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="white-box" style="border: 1px solid #dadce0;border-radius: 8px;">
            <img src="~/Content/imagen/farmacoVigilancia.png" alt="farmacoVigilancia" class="light-logo m-b-15" />
            <h1 class="box-title text-center" style="font-size: 30px;font-weight: 400;">FORMATO NOTIFICACI&OacuteN  DE EVENTOS ADVERSOS</h1>
            <p class="text-center m-b-30 m-t-30" style="font-size:16px ; font-weight: 400;">He recibido explicación del objetivo de esta ficha y me comprometo a responder con  la verdad. Cualquier duda o consulta comunicarse con Kelly Kina cel. 993501030</p>
            <p class="text-left m-l-15" style="font-size: 14px; font-weight: 400; color: #d93025;">*Campos Obligatorio</p>
        </div>
    </div>
    @using (Html.BeginForm("Visualizar", "EventoAdverso", FormMethod.Post, new { @data_toggle = "validator", enctype = "multipart/form-data", @class = "form-horizontal form-material" }))
    {
       
        @Html.AntiForgeryToken()
        <div id="item1" class="col-md-6 col-md-offset-3">
            <div class="white-box" style="border: 1px solid #dadce0;border-radius: 8px;">
                <h2 class="box-title text-center" style="font-size: 20px;font-weight: 400;"><strong>1. DATOS DEL PACIENTE</strong> </h2>

                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.nomApePacEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.nomApePacEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.edaPacEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.edaPacEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.idGen): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.gene.nomGen, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.nroPacEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.nroPacEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.emailPacEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.emailPacEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })
                    </div>
                </div>
            </div>
        </div>

        <div id="item2" class="col-md-6 col-md-offset-3">
            <div class="white-box" style="border: 1px solid #dadce0;border-radius: 8px;">
                <h2 class="box-title text-center" style="font-size: 20px;font-weight: 400;"><strong>2. INFORMACI&OacuteN DEL MEDICAMENTO </strong> </h2>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.idProAX): <span class="text-danger">*</span></label>
                    <div class="col-md-12" style="margin-top:14px;">

                        @Html.EditorFor(model => model.desProEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @data_error = "Esta pregunta es obligatoria", @required = true, @disabled = "true" } })
                        @Html.HiddenFor(model => model.idProAX)

                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.nroLteEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.nroLteEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.fchVenEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.fchVenEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line datepicker", @placeholder = "dd/mm/aaaa", @autocomplete = "off", @disabled = "true" } })
                    </div>
                </div>
            </div>
        </div>


        <div id="item3" class="col-md-6 col-md-offset-3">
            <div class="white-box" style="border: 1px solid #dadce0;border-radius: 8px;">
                <h2 class="box-title text-center" style="font-size: 20px;font-weight: 400;"><strong>3. EVENTO ADVERSO </strong> </h2>

                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.desAdvEveAdv): <span class="text-danger">*</span></label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.TextAreaFor(model => model.desAdvEveAdv, new { @class = "form-control form-control-line", @rows = 5, @placeholder = "(describir con las palabras del paciente lo reportado)", @autocomplete = "off", @required = true, @data_error = "Esta pregunta es obligatoria", @disabled = "true" })
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="item4" class="col-md-6 col-md-offset-3">
            <div class="white-box" style="border: 1px solid #dadce0;border-radius: 8px;">
                <h2 class="box-title text-center" style="font-size: 20px;font-weight: 400;"><strong>4. DATOS DEL REPORTANTE </strong> </h2>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.nomApeRepEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.nomApeRepEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.nroRepEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.nroRepEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.emailRepEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.emailRepEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })
                    </div>
                </div>
            </div>
        </div>

        <div id="item5" class="col-md-6 col-md-offset-3">
            <div class="white-box" style="border: 1px solid #dadce0;border-radius: 8px;">
                <h2 class="box-title text-center" style="font-size: 20px;font-weight: 400;"><strong>5. DATOS ADICIONALES </strong> </h2>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.nomApeMedEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.nomApeMedEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.nroMedEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.nroMedEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12" style="font-size: 16px;font-weight: 400;line-height: 24px; text-align: left;">@Html.LabelFor(model => model.insSalEveAdv): </label>
                    <div class="col-md-12" style="margin-top:14px;">
                        @Html.EditorFor(model => model.insSalEveAdv, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tu respuesta", @autocomplete = "off", @disabled = "true" } })

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-md-offset-3 ">
            <div class="row">
                
                <div class="col-md-4">
                    @Html.ActionLink("Volver", "Index", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista, pagina = SessionPersister.Pagina, search = SessionPersister.Search }, new { @Class = "btn btn-block btn-default btn-rounded btn-lg waves-effect waves-light" })
                </div>
            </div>
        </div>
    }

</div>

