@model  PortalRoemmers.ViewModels.IndexViewModel
@using PortalRoemmers.Helpers
@using PortalRoemmers.Security
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    @Styles.Render("~/Content/tablaResponsive_CSS")
    @Styles.Render("~/Content/Galeria_CSS")
    @Styles.Render("~/Content/sweetalert_CSS")
    @Styles.Render("~/Content/selectBusqueda_CSS")
    @Styles.Render("~/Content/datepicker_CSS")
}
<div class="panel panel-default">
    <div class="panel-heading box-title m-b-0"><h2>Solicitud de Vacaciones</h2></div>
    <div class="panel-body">
        <div class="form-group">
            @{ string v = ""; try { v = TempData["mensaje"].ToString(); } catch { }}
            @(new HtmlString(v))
        </div>
        @using (Html.BeginForm("Index", "SolicitudRRHH", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista }, FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="desMen">DESDE</label>
                        <input class="form-control form-control-line datepicker" id="fchEveSolGasI" name="fchEveSolGasI" placeholder="dd/mm/aaaa" autocomplete="off" value="@ViewBag.primero">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="desMen">HASTA</label>
                        <input class="form-control form-control-line datepicker" id="fchEveSolGasF" name="fchEveSolGasF" placeholder="dd/mm/aaaa" autocomplete="off" value="@ViewBag.actual">
                    </div>
                </div>
                @if (ViewBag.Exportar)
                {
                    <div class="col-md-2">
                        <button class="btn waves-effect waves-light btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                        <button id="getReporte" class="btn waves-effect waves-light btn-inverse">
                            Reporte <i class="fa fa-file-excel-o"></i>
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-md-2">
                        <span class="input-group-btn">
                            <button class="btn waves-effect waves-light btn-info">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                }

            </div>
        }
        <br />

        @using (Html.BeginForm("Registrar", "SolicitudRRHH", new { Area = "RRHH" }, FormMethod.Get))
        {
            @Html.Hidden("diasRestantes", (int)ViewBag.diasRestantes)
            <div class="col-sm-12">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="user-btm-box">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <dl>
                                    <dt>INGRESE LOS DATOS DE SUS VACACIONES</dt>
                                    <dd>Puede crear varias solicitudes</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <dl>
                                    <dt>MIS VACACIONES DISPONIBLES</dt>
                                    <dd style="color:#2cabe3">@ViewBag.diasRestantes DIAS</dd>
                                </dl>
                            </div>
                            <div class="col-md-6 text-center">
                                <dl>
                                    <dt>MIS VACACIONES UTILIZADAS</dt>
                                    <dd style="">@ViewBag.diasUtilizados DIAS</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-info btn-rounded">Crear Solicitud</button>
                            </div>
                        </div>
                        <br />
                        @{
                            if (ViewBag.userId == "61" || ViewBag.userId == "1049")
                            {
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <a href="@Url.Action("RegistrarMasivamente", "SolicitudRRHH", new { Area = "RRHH" })" class="btn btn-success btn-rounded">Crear Solicitud Masiva</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        }



        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mis Solicitudes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Admin Solicitudes</a>
            </li>
            @{
                if (ViewBag.SolicitudMasiva)
                {
                    <li class="nav-item">
                        <a class="nav-link" id="masiva-tab" data-toggle="tab" href="#masiva" role="tab" aria-controls="masiva" aria-selected="false">Solicitudes Masivas</a>
                    </li>
                }
            }
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="">
                    <!--<div class="row show-grid">
                    <div class="col-lg-1 col-sm-4 col-xs-12">
                        <button id="btnExportar" type="submit" class="btn btn-block btn-outline btn-info">Exportar</button>
                    </div>
            </div>-->
                    <div class="row">
                        <div class="col-sm-12">
                            <dl>
                                <dt>MIS SOLICITUDES</dt>
                            </dl>
                        </div>
                        <div class="col-sm-12">
                            <table class="table-bordered table-hover table" data-tablesaw-mode="swipe">
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"></th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">C&oacutedigo</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Descripción</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Desde</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Hasta</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Duración</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">Estado</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7">Fecha</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8">Solicitud</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SoliRRHH)
                                    {
                                        if ((item.idAccSol == ViewBag.userId && item.idSubTipoSolicitudRrhh == ConstantesGlobales.subTipoVacaciones) ||
                                            (item.idAccSol != ViewBag.userId && item.idAccApro != ViewBag.userId && item.idSubTipoSolicitudRrhh == ConstantesGlobales.subTipoVacacionesM))
                                        {
                                            DateTime fechaInicio = item.fchIniSolicitud;
                                            DateTime fechaFin = item.fchFinSolicitud;

                                            // Calcular la diferencia en días

                                            int diferenciaEnDias = 0;
                                            TimeSpan tiempoTotal = fechaFin - fechaInicio;

                                            for (int i = 0; i <= tiempoTotal.TotalDays; i++)
                                            {
                                                DateTime fechaActual = fechaInicio.AddDays(i);

                                                if (fechaActual.DayOfWeek != DayOfWeek.Saturday && fechaActual.DayOfWeek != DayOfWeek.Sunday)
                                                {
                                                    diferenciaEnDias++;
                                                }
                                            }

                                            <tr>
                                                <td class="text-nowrap" align="center">
                                                    @{
                                                        //solo algunos lo ven
                                                        if (item.idEstado == ConstantesGlobales.estadoRegistrado || item.idEstado == ConstantesGlobales.estadoModificado || item.idEstado == ConstantesGlobales.estadoRechazado)
                                                        {
                                                            if (item.idSubTipoSolicitudRrhh == ConstantesGlobales.subTipoVacaciones)
                                                            {
                                                                <a href="@MyExtensions.ActionUrl("Visualizar", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Visualizar"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                                <a href="@MyExtensions.ActionUrl("Modificar", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh, diasRestantes = ViewBag.diasRestantes })" data-toggle="tooltip" title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                                <a data-toggle="tooltip" title="Anular" id="sa-params-anul"> <i class="fa fa-close text-danger"></i> </a>
                                                            }
                                                            if (item.idSubTipoSolicitudRrhh == ConstantesGlobales.subTipoVacacionesM)
                                                            {
                                                                <a href="@MyExtensions.ActionUrl("VisualizarMasivamente", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Visualizar">
                                                                    <strong style="color: #2cabe3">OBLIGATORIO</strong>
                                                                </a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (item.estado.nomEst == "APROBADO")
                                                            {
                                                                <a href="@MyExtensions.ActionUrl("Visualizar", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Visualizar">
                                                                    <strong style="color: #2cabe3">LISTO</strong>
                                                                </a>
                                                            }
                                                            if (item.estado.nomEst == "PRE-APROBADO")
                                                            {
                                                                <a href="@MyExtensions.ActionUrl("Visualizar", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Visualizar">
                                                                    <strong style="color: #ffc36d">LISTO</strong>
                                                                </a>
                                                            }
                                                            if (item.estado.nomEst == "RECHAZADO")
                                                            {
                                                                <a href="@MyExtensions.ActionUrl("Visualizar", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Visualizar">
                                                                    <strong style="color: #dd6b55">LISTO</strong>
                                                                </a>
                                                            }
                                                        }
                                                    }

                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.idSolicitudRrhh)</td>
                                                <td>@Html.DisplayFor(modelItem => item.descSolicitud)</td>
                                                <td>@Html.DisplayFor(modelItem => item.fchIniSolicitud)</td>
                                                <td>@Html.DisplayFor(modelItem => item.fchFinSolicitud)</td>
                                                <td>
                                                    @{
                                                        //solo algunos lo ven
                                                        if (diferenciaEnDias == 1)
                                                        {
                                                            <span>@diferenciaEnDias día</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@diferenciaEnDias días</span>
                                                        }
                                                    }
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.estado.nomEst)</td>
                                                <td>
                                                    @{
                                                        //solo algunos lo ven
                                                        if (item.idEstado == ConstantesGlobales.estadoRegistrado)
                                                        {
                                                            @Html.DisplayFor(modelItem => item.usufchCrea)
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(modelItem => item.usufchMod)
                                                        }
                                                    }
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.subtipoSolicitud.nomSubtipoSolicitud)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @{Html.RenderPartial("_paginador", Model);}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                <div class="">
                    <!--<div class="row show-grid">
                <div class="col-lg-1 col-sm-4 col-xs-12">
                    <button id="btnExportar" type="submit" class="btn btn-block btn-outline btn-info">Exportar</button>
                </div>
        </div>-->
                    <div class="row">
                        <div class="col-sm-12">
                            <dl>
                                <dt>ADMIN SOLICITUDES</dt>
                            </dl>
                        </div>
                        <div class="col-sm-12">
                            <table id="idTablaAdminSoli" class="table-bordered table-hover table" data-tablesaw-mode="swipe">
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"></th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">C&oacutedigo</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Descripción</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Desde</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Hasta</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Duración</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Estado</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Fecha</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SoliRRHH)
                                    {
                                        if ((item.idAccApro == ViewBag.userId || item.aprobFinal == ViewBag.userId) && item.idSubTipoSolicitudRrhh == ConstantesGlobales.subTipoVacaciones)
                                        {
                                            DateTime fechaInicio = item.fchIniSolicitud;
                                            DateTime fechaFin = item.fchFinSolicitud;

                                            // Calcular la diferencia en días

                                            int diferenciaEnDias = 0;
                                            TimeSpan tiempoTotal = fechaFin - fechaInicio;

                                            for (int i = 0; i <= tiempoTotal.TotalDays; i++)
                                            {
                                                DateTime fechaActual = fechaInicio.AddDays(i);

                                                if (fechaActual.DayOfWeek != DayOfWeek.Saturday && fechaActual.DayOfWeek != DayOfWeek.Sunday)
                                                {
                                                    diferenciaEnDias++;
                                                }
                                            }

                                            <tr>
                                                <td class="text-nowrap" align="center">
                                                    <!--<a href="MyExtensions.ActionUrl("Visualizar", "SolicitudGasto", new { Area = "Ventas", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Visualizar"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>-->
                                                    @{
                                                        //solo algunos lo ven
                                                        if (item.idEstado == ConstantesGlobales.estadoRegistrado || item.idEstado == ConstantesGlobales.estadoModificado || (item.idEstado == ConstantesGlobales.estadoPreApro && item.aprobFinal == ViewBag.userId))
                                                        {
                                                            <!--<a href="MyExtensions.ActionUrl("Modificar", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>-->
                                                            <!--<a data-toggle="tooltip" title="Anular" id="sa-params"> <i class="fa fa-close text-danger"></i> </a>-->
                                                            if (item.estado.nomEst == "MODIFICADO" && item.aprobFinal == ViewBag.userId)
                                                            {
                                                                <strong style="color: #ffc36d">PENDIENTE</strong>
                                                            }
                                                            else { 
                                                                <select data-toggle="tooltip" title="Cambiar Estado" id="sa-params" class="form-select">
                                                                    <option selected>Cambiar estado</option>
                                                                    <option value="9">Aprobar</option>
                                                                    <option value="12">Desaprobar</option>
                                                                </select>                                                            
                                                            }
                                                            
                                                        }
                                                        else
                                                        {
                                                            if (item.estado.nomEst == "APROBADO")
                                                            {
                                                                <strong style="color: #2cabe3">LISTO</strong>
                                                            }
                                                            if (item.estado.nomEst == "PRE-APROBADO")
                                                            {
                                                                <strong style="color: #ffc36d">LISTO</strong>
                                                            }
                                                            if (item.estado.nomEst == "RECHAZADO")
                                                            {
                                                                <strong style="color: #dd6b55">LISTO</strong>
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.idSolicitudRrhh)</td>
                                                <td>@Html.DisplayFor(modelItem => item.descSolicitud)</td>
                                                <td>@Html.DisplayFor(modelItem => item.fchIniSolicitud)</td>
                                                <td>@Html.DisplayFor(modelItem => item.fchFinSolicitud)</td>
                                                <td>
                                                    @{
                                                        //solo algunos lo ven
                                                        if (diferenciaEnDias == 1)
                                                        {
                                                            <span>@diferenciaEnDias día</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@diferenciaEnDias días</span>
                                                        }
                                                    }
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.estado.nomEst)</td>
                                                <td>
                                                    @{
                                                        //solo algunos lo ven
                                                        if (item.idEstado == ConstantesGlobales.estadoRegistrado)
                                                        {
                                                            @Html.DisplayFor(modelItem => item.usufchCrea)
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(modelItem => item.usufchMod)
                                                        }
                                                    }
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.solicitante.username)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @{Html.RenderPartial("_paginador", Model);}
                    </div>
                </div>
                <div id="infoUsuarioSelected"></div>
            </div>            

            @{
                if (ViewBag.SolicitudMasiva)
                {
                    <div class="tab-pane fade" id="masiva" role="tabpanel" aria-labelledby="masiva-tab">
                        <div class="">
                            <div class="row">
                                <div class="col-sm-12">
                                    <dl>
                                        <dt>SOLICITUDES MASIVAS</dt>
                                    </dl>
                                </div>
                                <div class="col-sm-12">
                                    <table class="table-bordered table-hover table" data-tablesaw-mode="swipe">
                                        <thead>
                                            <tr>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"></th>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">C&oacutedigo</th>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Descripción</th>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Desde</th>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Hasta</th>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Duración</th>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">Estado</th>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7">Fecha</th>
                                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8">Usuario</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.SoliRRHH)
                                            {
                                                if (item.idSubTipoSolicitudRrhh == ConstantesGlobales.subTipoVacacionesM)
                                                {
                                                    DateTime fechaInicio = item.fchIniSolicitud;
                                                    DateTime fechaFin = item.fchFinSolicitud;

                                                    // Calcular la diferencia en días

                                                    int diferenciaEnDias = 0;
                                                    TimeSpan tiempoTotal = fechaFin - fechaInicio;

                                                    for (int i = 0; i <= tiempoTotal.TotalDays; i++)
                                                    {
                                                        DateTime fechaActual = fechaInicio.AddDays(i);

                                                        if (fechaActual.DayOfWeek != DayOfWeek.Saturday && fechaActual.DayOfWeek != DayOfWeek.Sunday)
                                                        {
                                                            diferenciaEnDias++;
                                                        }
                                                    }
                                                    <tr>
                                                        <td class="text-nowrap" align="center">
                                                            <!--<a href="MyExtensions.ActionUrl("Visualizar", "SolicitudGasto", new { Area = "Ventas", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Visualizar"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>-->
                                                            @{
                                                                //solo algunos lo ven
                                                                if ((item.aprobFinal != ViewBag.userId && item.idEstado == ConstantesGlobales.estadoRegistrado) || (item.aprobFinal != ViewBag.userId && item.idEstado == ConstantesGlobales.estadoModificado) || (item.idAccSol == ViewBag.userId && item.idEstado == ConstantesGlobales.estadoRechazado) || (item.aprobFinal == ViewBag.userId && item.idEstado == ConstantesGlobales.estadoPreApro))
                                                                {
                                                                    if (item.idAccApro == ViewBag.userId || item.aprobFinal == ViewBag.userId)
                                                                    {
                                                                        <select data-toggle="tooltip" title="Cambiar Estado" id="sa-params" class="form-select">
                                                                            <option selected>Cambiar estado</option>
                                                                            <option value="9">Aprobar</option>
                                                                            <option value="12">Desaprobar</option>
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="@MyExtensions.ActionUrl("VisualizarMasivamente", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Visualizar"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                                        <a href="@MyExtensions.ActionUrl("ModificarMasivamente", "SolicitudRRHH", new { Area = "RRHH", id = item.idSolicitudRrhh })" data-toggle="tooltip" title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                                        <a data-toggle="tooltip" title="Anular" id="sa-params-anul"> <i class="fa fa-close text-danger"></i> </a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (item.estado.nomEst == "REGISTRADO" || item.estado.nomEst == "MODIFICADO")
                                                                    {
                                                                        <strong style="color: #858585">PENDIENTE</strong>
                                                                    }
                                                                    if (item.estado.nomEst == "APROBADO")
                                                                    {
                                                                        <strong style="color: #2cabe3">LISTO</strong>
                                                                    }
                                                                    if (item.estado.nomEst == "PRE-APROBADO")
                                                                    {
                                                                        <strong style="color: #ffc36d">LISTO</strong>
                                                                    }
                                                                    if (item.estado.nomEst == "RECHAZADO")
                                                                    {
                                                                        <strong style="color: #dd6b55">LISTO</strong>
                                                                    }
                                                                }
                                                            }

                                                        </td>
                                                        <td>@Html.DisplayFor(modelItem => item.idSolicitudRrhh)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.descSolicitud)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.fchIniSolicitud)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.fchFinSolicitud)</td>
                                                        <td>
                                                            @{
                                                                //solo algunos lo ven
                                                                if (diferenciaEnDias == 1)
                                                                {
                                                                    <span>@diferenciaEnDias día</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@diferenciaEnDias días</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td>@Html.DisplayFor(modelItem => item.estado.nomEst)</td>
                                                        <td>
                                                            @{
                                                                //solo algunos lo ven
                                                                if (item.idEstado == ConstantesGlobales.estadoRegistrado)
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.usufchCrea)
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.usufchMod)
                                                                }
                                                            }
                                                        </td>
                                                        <td>@Html.DisplayFor(modelItem => item.solicitante.username)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @{Html.RenderPartial("_paginador", Model);}
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!--Importar-->
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <section id="wrapper" class="block1">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">Cargar Excel de Vacaciones</h2>
                    </div>
                    <input id="idpeso" name="idpeso" type="hidden" value="@ViewBag.Peso">
                    <div class="modal-body">

                        <form id="FormUpload" enctype="multipart/form-data" method="post">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="fileinput input-group fileinput-new" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">Archivo</span> <span class="fileinput-exists">Cambiar</span>
                                            <input type="hidden" value="" name="..."><input id="inputGroupFile04" type="file" name="file" onchange="validateFileSelected(event)">
                                        </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-outline btn-primary btn-lg btn-block" type="submit" id="inputGroupFileAddon04">Cargar</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!---->

    <div class="panel-footer">
        @{
            if (ViewBag.userId == "1103")
            {
                <div class="row">
                    <h2 class="text-center">Importar</h2>
                    <div class="col-md-12 text-center">
                        <a data-toggle="modal" class="btn btn-primary btn-rounded m-r-10" href="#responsive-modal">Vacaciones desde Excel</a>
                    </div>
                </div>
            }
        }
    </div>
</div>




@section scripts
{
    <script src="~/Areas/Sistemas/Scripts/Sistemas.js"></script>
    <script src="~/Scripts/js/jasny-bootstrap.js"></script>
    <script src="~/Areas/RRHH/Scripts/RRHH.js"></script>
    @Scripts.Render("~/Bundles/autocompletado_JS")
    @Scripts.Render("~/Bundles/selectBusqueda_JS")
    @Scripts.Render("~/Bundles/datepicker_JS")
    @Scripts.Render("~/Bundles/bloqueo_JS")
    @Scripts.Render("~/Bundles/Bootstrap_JS")


<script>
        $("#FormUpload").submit(function (e) {
            UploadFile();
            return false;
        });
        $("#getReporte").click(function (e) {
            e.preventDefault(); // Evita que el evento click haga su acción por defecto (útil si es un botón de submit)
            var data = new FormData();
            var inicio = $("#fchEveSolGasI").val();
            var fin = $("#fchEveSolGasF").val();
            data.append("inicio", inicio);
            data.append("fin", fin); // Asegúrate de añadir esta línea para enviar el parámetro 'fin'

            $.ajax({
                url: '@Url.Action("exportData", "SolicitudRRHH")',
                type: 'POST',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result) {
                        downloadFile(result);
                    } else {
                        alert("se genero error al guardar");
                        unblock();
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                    unblock();
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
        function validateFileSelected(event) {
            if (($("#inputGroupFile04"))[0].files[0] != undefined) {
                var ext = $('#inputGroupFile04').val().split('.').pop().toLowerCase();
                var picsize = ($("#inputGroupFile04"))[0].files[0].size;

                if ($.inArray(ext, ['xls', 'xlsx', 'xlsm', 'xlsb']) == -1) {
                    alert(" Extension no permitida :  " + ext);
                    $("#inputGroupFile04").val('');
                    return false;
                };
                // 10mb
                if (picsize >= 10485760) {
                    alert("No puede sobre pasar el tamaño de 10mb ");
                    $("#inputGroupFile04").val('');
                    return false;
                }
            }
        };

        function UploadFile() {

            var data = new FormData();
            var files = $("#inputGroupFile04").get(0).files;
            data.append("file", files[0])

            block();
            $.ajax({
                url: '@Url.Action("saveFile", "SolicitudRRHH")',
                type: 'POST',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result) {
                        $.post('/RRHH/SolicitudRRHH/importData', function (data, status) {
                            if (status == "success") {
                                if (data.indexOf("Import") > -1) {
                                    $("#idCarga").addClass("d-none");
                                    downloadFile(data);
                                } else {
                                    $('#responsive-modal').modal('hide');
                                    $("div #success").removeClass('hidden');
                                    $("div #success").text(data);
                                    setTimeout(function () { $("div #success").fadeOut(5000); $("div #success").fadeIn(5000); }, 2000);
                                    setTimeout(function () { $("div #success").addClass('hidden'); }, 8000);
                                    alert("Se generó un error al guardar");
                                    unblock();
                                }
                                unblock();
                            }
                        });
                    } else {
                        alert("se genero error al guardar");
                        $("#idCarga").addClass("d-none");
                        unblock();
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                    unblock();
                    $("#idCarga").addClass("d-none");
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }

        function downloadFile(filePath) {
            alert(filePath);
            var downloadUrl = '@Url.Action("Resultado", "SolicitudRRHH")' + '?ruta=' + filePath;
            window.location.href = downloadUrl; // Esto iniciará la descarga
        }
        
        function block() {
            $('section.block1').block({
                message: '<h4><img src="../../Content/plugins/images/busy.gif" /> Sólo un momento...</h4>'
                , css: {
                    border: '1px solid #fff'
                }
            });
        }
        function unblock() {
            $('section.block1').unblock();
        }

        $(document).ready(function () {

            $('#idTablaAdminSoli td').on('click', function () {
                // Obtener el contenido del elemento <td>
                var idSolicitudRrhh = $(this).closest('tr').find('td:eq(1)').text();
                var contenidoTd = $(this).closest('tr').find('td:eq(8)').text().toUpperCase();

                var Options = {};
                Options.url = "/SolicitudRRHH/verEstadoVacaciones";
                Options.type = "POST";
                Options.data = JSON.stringify({ idSolicitudRrhh: idSolicitudRrhh });
                Options.datatype = "json";
                Options.contentType = "application/json";
                Options.success = function (data) {
                    if (data) {
                        console.log("dtot:", data.diasTotales);
                        // Agrega la palabra "día" o "días" según el valor de contadorDias
                        var pluralTot = data.diasTotales === 1 ? "día total" : "días totales";
                        var pluralDisp = data.diasDisponibles === 1 ? "día disponible" : "días disponibles";
                        var pluralRest = (data.diasTotales - data.diasDisponibles) === 1 ? "día usado" : "días usados";
                        var infoUsuarioSelected = "<span>Usuario " + contenidoTd + ": </span> <br>"
                            + data.diasTotales + " " + pluralTot + "<br>" +
                            (data.diasTotales - data.diasDisponibles) + " " + pluralRest+ "<br>" +
                            data.diasDisponibles + " " + pluralDisp;
                        $('#infoUsuarioSelected').html("<div style='background-color: #2cabe3; padding: 1em; color: #ffffff;'>" + infoUsuarioSelected + "</div>");


                    }
                };
                Options.error = function () { alert("Error in Getting States!!"); unblock(); };
                $.ajax(Options);
            });

            /*
            $("table tbody tr").each(function () {
                var dias = $(this).find('td:eq(5)').text().trim(); // Obtiene el contenido de la sexta columna (índice 5)
                var usuario = $(this).find('td:eq(8)').text().trim();

                // Divide el texto en palabras utilizando el espacio como separador
                var palabras = dias.split(' ');

                // Verificar si la primera palabra es un número antes de sumarla
                var primeraPalabra = parseFloat(palabras[0]); // Usamos parseFloat para manejar decimales
                console.log(dias);

                if (!isNaN(primeraPalabra)) {
                    // Si es un número válido, realiza el filtro
                    if (contenidoTd === usuario.toUpperCase()) {
                        contadorDias += primeraPalabra; // Suma la primera palabra al contador

                        // Haz algo con la fila que cumple con el filtro
                        console.log(contadorDias, "tot");
                    }
                }
            });
            */

            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy',
                position: "bottom"
            });

            $('table tbody tr a#sa-params-anul').click(function () {
                var idSolicitudRrhh = $(this).parent().parents('tr').find('td').eq(1).text();
                swal({
                    title: "¿Estás seguro?",
                    text: "¡No se podrá aprobar esta solicitud! \n",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí, anularlo!",
                    cancelButtonText: "No, no anularlo!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        var Options = {};
                        Options.url = "/SolicitudRRHH/anularSolicitud";
                        Options.type = "POST";
                        Options.data = JSON.stringify({ idSolicitudRrhh: idSolicitudRrhh });
                        Options.datatype = "json";
                        Options.contentType = "application/json";
                        Options.success = function (data) {
                            if (data) {
                                swal("Anulado!", "Tu solicitud ha sido anulada.", "success");
                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            } else {
                                swal("Ocurrio un problema!", "Tu solicitud no ha sido anulada.", "error");
                            }
                        };
                        Options.error = function () { alert("Error in Getting States!!"); unblock(); };
                        $.ajax(Options);
                    } else {
                        swal("Cancelado", "Tu solicitud esta seguro.)", "error");
                    }
                });
            });


            $('table tbody tr select#sa-params').click(function () {
                var idSolicitudRrhh = $(this).parent().parents('tr').find('td').eq(1).text();
                var slc = $(this).parent().parents('tr').find('select').val();
                var rpta = true;
                if (slc == '9') {
                    swal({
                        title: "¿Estás seguro?",
                        text: "¡Va a aprobar esta solicitud! \n",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#55c7dd",
                        confirmButtonText: "Sí, Aprobar!",
                        cancelButtonText: "No, no aprobarlo aún",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            var Options = {};
                            Options.url = "/SolicitudRRHH/aprobarSolicitud";
                            Options.type = "POST";
                            Options.data = JSON.stringify({ idSolicitudRrhh: idSolicitudRrhh });
                            Options.datatype = "json";
                            Options.contentType = "application/json";
                            Options.success = function (data) {

                                if (data) {
                                    swal("Aprobado!", "La solicitud ha sido aprobada.", "success");
                                    setTimeout(function () {
                                        location.reload();
                                    }, 2000);
                                } else {
                                    swal("Ocurrio un problema!", "La solicitud no ha sido aprobada.", "error");
                                }
                            };
                            Options.error = function () { alert("Error in Getting States!!"); unblock(); };
                            $.ajax(Options);

                        } else {
                            swal("Cancelado", "La solicitud no ha sido aprobada.", "error");
                            rpta = false;
                            console.log("9", rpta);
                        }
                    });
                }

                if (slc == '12') {
                    swal({
                        title: "¿Estás seguro?",
                        text: "¡Va a desaprobar esta solicitud! \n",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Sí, desaprobarlo!",
                        cancelButtonText: "No, no desaprobarlo!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            var Options = {};
                            Options.url = "/SolicitudRRHH/rechazarSolicitud";
                            Options.type = "POST";
                            Options.data = JSON.stringify({ idSolicitudRrhh: idSolicitudRrhh });
                            Options.datatype = "json";
                            Options.contentType = "application/json";
                            Options.success = function (data) {

                                if (data) {
                                    swal("Anulado!", "La solicitud ha sido desaprobada.", "success");
                                    setTimeout(function () {
                                        location.reload();
                                    }, 2000);
                                } else {
                                    swal("Ocurrio un problema!", "La solicitud no ha sido desaprobada.", "error");
                                }
                            };
                            Options.error = function () { alert("Error in Getting States!!"); unblock(); };
                            $.ajax(Options);

                        } else {
                            swal("Cancelado", "Tu solicitud esta segura.", "error");
                            rpta = false;
                            console.log("12", rpta);
                            $(this).parent().parents('tr').find('select option:first').prop('selected', true);
                        }
                    });
                }
            });
        });


</script>
}