
@using PortalRoemmers.Security
@model PortalRoemmers.Areas.RRHH.Models.SolicitudRRHH.SolicitudRRHHModels
@{
    ViewBag.Title = "Registrar Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    @Styles.Render("~/Content/autocompletado_CSS")
    @Styles.Render("~/Content/selectBusqueda_CSS")
    @Styles.Render("~/Content/datepicker_CSS")
}
<div class="white-box p-l-20 p-r-20">
    <h3 class="box-title m-b-0"> Nueva Solicitud de Vacaciones</h3>
    <p class="text-muted m-b-30 font-13">Completar todos los campos necesarios.</p>
    <div id='danger' class='alert alert-danger hidden'></div>
    @{string msg = ""; try { msg = TempData["mensaje"].ToString(); } catch { }}
    @(new HtmlString(msg))
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Modificar", "SolicitudRRHH", FormMethod.Post, new { id = "newSol", enctype = "multipart/form-data", @class = "form-horizontal form-material" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <section id="wrapper" class="block1">
                        <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                            <div class="panel">
                                <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab"> <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne"> Datos de la Solicitud </a> </div>
                                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel">
                                    @Html.HiddenFor(model => model.idEstado)
                                    @Html.HiddenFor(model => model.idAccSol)

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.descSolicitud)</label>
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.descSolicitud, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Descripción" } })
                                                        @Html.ValidationMessageFor(model => model.descSolicitud, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.fchIniSolicitud)</label>
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.fchIniSolicitud, new { htmlAttributes = new { @class = "form-control form-control-line datepicker" } })
                                                        @Html.ValidationMessageFor(model => model.fchIniSolicitud, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.fchFinSolicitud)</label>
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.fchFinSolicitud, new { htmlAttributes = new { @class = "form-control form-control-line datepicker" } })
                                                        @Html.ValidationMessageFor(model => model.fchFinSolicitud, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <div id='danger' class='alert alert-danger hidden'></div>
                    <div class="panel-group">
                        <div class="col-md-4 tab-content">
                            <div class="col-lg-6 col-sm-4 panel-group">
                                <button class="btn btn-block btn-outline btn-rounded btn-info">Guardar</button>
                            </div>
                            <div class="col-lg-6 col-sm-4">
                                @Html.ActionLink("Volver", "Index", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista, pagina = SessionPersister.Pagina, search = SessionPersister.Search }, new { @Class = "btn btn-block btn-outline btn-rounded btn-default" })
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Areas/RRHH/Scripts/RRHH.js"></script>
    @Scripts.Render("~/Bundles/autocompletado_JS")
    @Scripts.Render("~/Bundles/selectBusqueda_JS")
    @Scripts.Render("~/Bundles/datepicker_JS")
    @Scripts.Render("~/Bundles/bloqueo_JS")

    <script>
        $(document).ready(function () {
            /*$(".datepicker").datepicker({
                format: "dd-M-yyyy",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true
            });*/

            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });

    </script>
}