@model PortalRoemmers.Areas.Sistemas.Models.Trilogia.Usu_Zon_Lin_Models
@using PortalRoemmers.Security
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-box p-l-20 p-r-20">
    <h3 class="box-title m-b-0"> Activar Trilogía</h3>
    <p class="text-muted m-b-30 font-13">¿Estás seguro que quieres activar esto?</p>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Activar", "Usu_Zon_Lin", FormMethod.Post, new { @class = "form-horizontal form-material" }))
            {
                @Html.AntiForgeryToken()


                @Html.HiddenFor(model => model.idAcc)
                @Html.HiddenFor(model => model.idLin)
                @Html.HiddenFor(model => model.idZon)

                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.idAcc)</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.user.empleado.nomComEmp, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.idLin)</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.linea.nomLin, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.idZon)</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.zona.nomZon, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                    </div>
                </div>

                <button class="btn btn-info btn-rounded btn-outline waves-effect waves-light m-r-10">Guardar</button>
                @Html.ActionLink("Volver", "Index", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista, pagina = SessionPersister.Pagina, search = SessionPersister.Search }, new { @Class = "btn btn-default btn-rounded btn-outline waves-effect waves-light" })

            }
        </div>
    </div>
</div>

