@model PortalRoemmers.Areas.Sistemas.Models.Medico.TipoMedicoModels
@using PortalRoemmers.Security

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-box p-l-20 p-r-20">
    <h3 class="box-title m-b-0"> Eliminar Tipo M&eacutedico</h3>
    <p class="text-muted m-b-30 font-13">¿Estás seguro que quieres eliminar esto?</p>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Eliminar", "TipCli", FormMethod.Post, new { @class = "form-horizontal form-material" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.idTipCli)

                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.idTipCli)</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.idTipCli, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.nomTipCli)</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.nomTipCli, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.desTipCli)</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.desTipCli, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                    </div>
                </div>


                <button class="btn btn-info btn-rounded btn-outline waves-effect waves-light m-r-10">Guardar</button>
                @Html.ActionLink("Volver", "Index", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista, pagina = SessionPersister.Pagina, search = SessionPersister.Search }, new { @Class = "btn btn-default btn-rounded btn-outline waves-effect waves-light" })

            }
        </div>
    </div>
</div>


