@model PortalRoemmers.Areas.Sistemas.Models.Usuario.AsigAproModels
@using PortalRoemmers.Security

@{
    ViewBag.Title = "AsignarAprobador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-box p-l-20 p-r-20">
    <h3 class="box-title m-b-0">Aprobador</h3>
    <p class="text-muted m-b-30 font-13"><strong>@ViewBag.aprobador</strong></p>
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal form-material">

                @using (Html.BeginForm("AddAsignados", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input id="id" name="id" type="hidden" value="@ViewBag.id">
                    <input id="nombre" name="nombre" type="hidden" value="@ViewBag.aprobador">
                    <input id="peso" name="peso" type="hidden" value="@ViewBag.peso">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-11">Usuarios Disponibles</label>
                            <div class="col-md-11">
                                <input id="filtrar" type="text" placeholder="Buscar" class="form-control">
                            </div>
                            <br />
                            <div class="col-md-1">
                                <button class="btn btn-primary btn-rounded waves-effect waves-light"><i class="fa fa-plus"></i></button>
                            </div>
                            <br />
                            <div class="col-md-11">
                                @Html.DropDownListFor(model => model.idAccAsigN, (SelectList)ViewBag.usuariosNS, htmlAttributes: new { @class = "form-control form-control-line", @multiple = "" })
                            </div>
                        </div>
                    </div>
                }

                @using (Html.BeginForm("DelAsignados", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input id="id" name="id" type="hidden" value="@ViewBag.id">
                    <input id="nombre" name="nombre" type="hidden" value="@ViewBag.aprobador">
                    <input id="peso" name="peso" type="hidden" value="@ViewBag.peso">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-11">Usuarios Asignados</label>
                            <div class="col-md-11">
                                <input id="filtrar2" type="text" placeholder="Buscar" class="form-control">
                            </div>
                            <br />
                            <div class="col-md-1">
                                <button class="btn btn-primary btn-rounded waves-effect waves-light"><i class="fa fa-minus"></i></button>
                            </div>
                            <br />
                            <div class="col-md-11">
                                @Html.DropDownListFor(model => model.idAccAsig, (SelectList)ViewBag.usuariosS, htmlAttributes: new { @class = "form-control form-control-line", @multiple = "" })
                            </div>
                        </div>
                    </div>

                }

                @Html.ActionLink("Volver", "Index", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista, pagina = SessionPersister.Pagina, search = SessionPersister.Search }, new { @Class = "btn btn-default btn-rounded btn-outline waves-effect waves-light" })
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#filtrar').keyup(function () {

                var rex = new RegExp($(this).val(), 'i');

                $('#idAccAsigN option').hide();
                $('#idAccAsigN option').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })

            $('#filtrar2').keyup(function () {

                var rex = new RegExp($(this).val(), 'i');

                $('#idAccAsig option').hide();
                $('#idAccAsig option').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })

        });

    </script>
}
