@using PortalRoemmers.Security
@model PortalRoemmers.Areas.RRHH.Models.Galeria.TipoGaleriaModels
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="white-box p-l-20 p-r-20">
    <h3 class="box-title m-b-0"> Nuevo Tipo Galer&iacutea</h3>
    <p class="text-muted m-b-30 font-13">Completar todos los campos necesarios. </p>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Registrar", "TipoGaleria", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-material" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.titTipGal)</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.titTipGal, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Título" } })
                        @Html.ValidationMessageFor(model => model.titTipGal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.desTipGal)</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.desTipGal, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Descripción" } })
                        @Html.ValidationMessageFor(model => model.desTipGal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.filTipGal)</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.filTipGal, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "filter-Título", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.filTipGal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.classTipGal)</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.classTipGal, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = ".Título", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.classTipGal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">@Html.LabelFor(model => model.classesTipGal)</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.classesTipGal, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "all Título", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.classesTipGal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <button class="btn btn-info btn-rounded btn-outline waves-effect waves-light m-r-10">Guardar</button>
                @Html.ActionLink("Volver", "Index", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista, pagina = SessionPersister.Pagina, search = SessionPersister.Search }, new { @Class = "btn btn-default btn-rounded btn-outline waves-effect waves-light" })

            }
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#titTipGal").change(function () {
                var filter = "filter-" + $("#titTipGal").val();
                $("#filTipGal").val(filter);

                var clase = "." + $("#titTipGal").val();
                $("#classTipGal").val(clase);

                var clases = "all " + $("#titTipGal").val();
                $("#classesTipGal").val(clases);
            });
        });

    </script>
}

