@model  PortalRoemmers.Areas.Ventas.Models.SolicitudGasto.SolicitudGastoModels

@{
    if (ViewBag.pdf)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<style>
    .cabecera {
        font-family: Arial;
        font-size: 9pt;
        border-collapse: collapse;
        font-weight: normal;
        width: 100%;
    }

        .cabecera th, .cabecera td {
            height: 25px;
            text-align: left;
        }

    .detalle {
        width: 100%;
        font-size: 9pt;
    }

        .detalle th {
            border: 1px solid black;
        }

        .detalle, .detalle td, .detalle th {
            border-collapse: collapse;
        }

    .box {
        border-left-style: solid;
        border-left-width: 1px;
        border-right-style: solid;
        border-right-width: 1px;
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        font-weight: bold;
        height: 40px;
        text-align: left;
        font-size: 12pt;
    }

    .titulo {
        background-color: #c0c0c0;
        box-shadow: 10px 10px;
    }
</style>

<table class="cabecera">
    <tr>
        <td colspan="2">Mega Labs Latam S.A.</td>
        <td colspan="2" style="text-align: right">@DateTime.Today</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td colspan="2" style="text-align: center"><div class="box">SOLICITUD Nº @Model.idSolGas</div></td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center"><div class="titulo" style="width:100%;"><h2>SOLICITUD DE FONDOS</h2></div></td>
    </tr>
    <tr>
        <td style="text-align: left;font-weight: bold;width:18%">@Html.DisplayNameFor(model => model.idAccSol):</td>
        <td style="text-align: left;width:44%">@Html.DisplayFor(model => model.solicitante.empleado.nomComEmp)</td>
        <td style="text-align: left;font-weight: bold;width:18%">@Html.DisplayNameFor(model => model.modSolGas):</td>
        @{
            string plan = "";
            int tipo = Model.movimiento.Count();
            string modSol = Model.modSolGas;
            string tipSol = "";
            if (tipo != 0)
            {
                tipSol = Model.movimiento.FirstOrDefault().presupuesto.tipospres.idTipoPres;
            }
            //------------------------------------------
            if (tipSol != "")
            {
                if (tipSol == ConstantesGlobales.plan_Trab)
                {
                    plan = "PLAN DE TRABAJO";
                }
                if (tipSol == ConstantesGlobales.plan_Mark)
                {
                    plan = "PLAN DE MARKETING";
                }
                if (tipSol == ConstantesGlobales.plan_Fuera)
                {
                    plan = "FUERA DEL PLAN";
                }
            }
            else
            {
                plan = "NINGUNO";
            }
        }
        <td style="text-align: left;width:25%">@plan</td>
    </tr>
    <tr>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.idTipGas):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.concepto.tipoGasto.nomTipGas)</td>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.idZon):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.zona.nomZon)</td>
    </tr>
    <tr>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.idConGas):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.concepto.nomConGas)</td>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.idLin):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.linea.nomLin)</td>
    </tr>

    <tr>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.concepto.concContable):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.concepto.concContable)</td>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.concepto.ctaContable):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.concepto.ctaContable)</td>
    </tr>

    <tr>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.idEsp):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.especialidad.nomEsp)</td>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.usufchCrea):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.usufchCrea)</td>
    </tr>
    <tr>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.titSolGas):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.titSolGas)</td>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.fchEveSolGas):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.fchEveSolGas)</td>
    </tr>

    <tr>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.idTipSol):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.solicitud.nomTipSol)</td>
        <td style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.idTipPag):</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.pago.nomTipPag)</td>
    </tr>

    <tr>
        <td style="text-align: left;font-weight: bold;">Monto:</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.moneda.simbMon)  @Html.DisplayFor(model => model.monSolGas)</td>
        <td style="text-align: left;font-weight: bold;">T. Cambio:</td>
        <td style="text-align: left">@Html.DisplayFor(model => model.valtipCam)</td>
    </tr>
    <tr>
        <td colspan="1" style="text-align: left;font-weight: bold;">@Html.DisplayNameFor(model => model.obsSolGas):</td>
        <td colspan="3" style="text-align: left">@Html.DisplayFor(model => model.obsSolGas)</td>
    </tr>
</table>

<h4>RESPONSABLES</h4>
<table class="detalle">
    <thead>
        <tr>
            <th style="width:15%">#</th>
            <th style="width:85%">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dResp)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.responsable.nroDocEmp)</td>
                <td>@Html.DisplayFor(modelItem => item.responsable.nomComEmp)</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<h4>FAMILIA PRODUCTOS</h4>
<table class="detalle">
    <thead>
        <tr>
            <th style="width:15%">#</th>
            <th style="width:85%">Producto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dFam)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.familia.idFamRoe)</td>
                <td>@Html.DisplayFor(modelItem => item.familia.nomFamRoe)</td>
            </tr>
        }
    </tbody>
</table>

@{
    if (Model.dGas.Count() != 0)
    {
        var act = Model.dGas.Select(y => y.actividad.nomActiv).FirstOrDefault();
        string activida = act.ToString();
        <h4>ACTIVIDAD : @activida </h4>
    }
    else
    {
        <h4>ACTIVIDAD : NINGUNA </h4>
    }
}
<table class="detalle">
    <thead>
        <tr>

            <th style="width:30%">Gasto</th>
            <th style="width:30%">Gasto</th>
            <th style="width:15%">Importe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dGas)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.gasto.tipoGastoActividad.nomTipGasAct)</td>
                <td>@Html.DisplayFor(modelItem => item.gasto.nomActGas)</td>
                <td>@Html.DisplayFor(modelItem => item.monTotal)</td>
            </tr>
        }
    </tbody>
</table>

<h4>MEDICOS</h4>
<table class="detalle">
    <thead>
        <tr>
            <th style="width:15%">#</th>
            <th style="width:85%">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dMed)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.cliente.idCli)</td>
                <td>@Html.DisplayFor(modelItem => item.cliente.nomCli)</td>
            </tr>
        }
    </tbody>
</table>

<h4>AREA TERAPEUTICA</h4>
<table class="detalle">
    <thead>
        <tr>
            <th style="width:15%">#</th>
            <th style="width:35%">Nombre</th>
            <th style="width:25%;text-align:center;">Porcentage</th>
            <th style="width:25%;text-align:center;">Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dAre)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.areaTerap.numAreaTerap)</td>
                <td>@Html.DisplayFor(modelItem => item.areaTerap.desAreaTerap)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.valPorcen)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.valor)</td>
            </tr>
        }
    </tbody>
</table>

<h4>FIRMAS</h4>
<table class="detalle">
    <thead>
        <tr>
            <th style="width:15%">Usuario</th>
            <th style="width:30%">Fecha</th>
            <th style="width:55%">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dFirma.OrderBy(x => x.usufchCrea))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.usuCrea)</td>
                <td>@Html.DisplayFor(modelItem => item.usufchCrea)</td>
                <td>@Html.DisplayFor(modelItem => item.estado.nomEst)</td>
            </tr>
        }
    </tbody>
</table>
