@using PortalRoemmers.Security
@model PortalRoemmers.Areas.Ventas.Models.SolicitudGasto.SolicitudGastoModels
@{
    ViewBag.Title = "Registrar Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    @Styles.Render("~/Content/autocompletado_CSS")
    @Styles.Render("~/Content/selectBusqueda_CSS")
    @Styles.Render("~/Content/datepicker_CSS")
}
<!--model familia-->
<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <section id="wrapper" class="block1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Familia Productos</h4>
                </div>
                <div class="modal-body">
                    <div id='danger' class='alert alert-danger hidden'></div>
                    <div class="input-group">
                        <input type="text" id="search" name="search" class="form-control" placeholder="Buscar">
                        <span class="input-group-btn">
                            <button class="btn waves-effect waves-light btn-info" onclick="BusquedaDetalle('tb_Familia_Search', 'search', '/FamiliaRoe/SearchFamiliaAT');" >
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="table-responsive m-t-10" style="clear: both;">
                        <div id="slimtest4">
                            <table class="table table-hover" id="tb_Familia_Search">
                                <thead>
                                    <tr>
                                        <th class="text-center">Familia</th>
                                        <th class="text-center">AT</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </section>
        </div>
    </div>
</div>
<!--model familia-->
<!--model Medicos-->
<div id="responsive-modal-medico" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <section id="wrapper" class="block1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Medicos </h4>
                </div>
                <div class="modal-body">
                    <div id='danger' class='alert alert-danger hidden'></div>
                    <div class="input-group">
                        <input type="text" id="search2" name="search2" class="form-control" placeholder="Buscar">
                        <span class="input-group-btn">
                            <button class="btn waves-effect waves-light btn-info" onclick="Search('tb_medico_Search','search2','/Medico/SearchCliente')">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="table-responsive m-t-10" style="clear: both;">
                        <div id="slimtest4M">
                            <table class="table table-hover" id="tb_medico_Search">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Nombre</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </section>
        </div>
    </div>
</div>
<!--model Medicos-->
<!--model Responsable-->
<div id="responsive-modal-responsable" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <section id="wrapper" class="block1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Responsable</h4>
                </div>
                <div id='danger' class='alert alert-danger hidden'></div>
                <div class="modal-body">
                    <div id='danger' class='alert alert-danger hidden'></div>
                    <div class="input-group">
                        <input type="text" id="search3" name="search3" class="form-control" placeholder="Buscar">
                        <span class="input-group-btn">
                            <button class="btn waves-effect waves-light btn-info" onclick="Search('tb_responsable_Search','search3','/Empleado/SearchResponsable')">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="table-responsive m-t-10" style="clear: both;">
                        <div id="slimtestTC">
                            <table class="table table-hover" id="tb_responsable_Search">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Nombre</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </section>
        </div>
    </div>
</div>
<!--model Responsable-->
<!--model actividad-->
<div id="responsive-modal-actividad" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <section id="wrapper" class="block1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Gastos</h4>
                </div>
                <div class="modal-body">
                    <div id='danger' class='alert alert-danger hidden'></div>
                    <div class="panel-body">
                        <div class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Tipo Gasto</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.idTipGasAct, (SelectList)ViewBag.tipogastoA, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Gasto</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.idActGas, (SelectList)ViewBag.gastoA, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Cantidad</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.monCant, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "0.00" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Precio Unitario</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.monProm, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "0.00" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Total</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.monTotal, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "0.00", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" onclick="addRowActi();">Agregar</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </section>
        </div>
    </div>
</div>
<!--model actividad-->
<!--model Modelo Proveedor-->
<div id="responsive-modal-modelP" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;z-index: 1060;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Nuevo Modelo</h4>
            </div>
            <div class="modal-body">
                <div id='danger' class='alert alert-danger hidden'></div>
                @using (Html.BeginForm("Registrar", "Proveedor", FormMethod.Post, new { @class = "form-horizontal form-material", @id = "pro-form" }))
                {
                    <div class="form-group">
                        <label class="col-md-12">Nombre o Razon Social<span style="color:red;">*</span></label>
                        <div class="col-md-12">
                            @Html.Editor("nomProv", new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Nombre / Razon Social" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">RUC / Niif <span style="color:red;">*</span></label>
                        <div class="col-md-12">
                            @Html.Editor("niffPro", new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "RUC o Niif" } })
                        </div>
                    </div>

                    <a id="btn-sendFormP" class="btn btn-info btn-rounded btn-outline waves-effect waves-light m-r-10" href="#">Guardar</a>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
<!--model Modelo Proveedor-->
<!--model documentos-->
<div id="responsive-modal-doc" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <section id="wrapper" class="block1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Documentos</h4>
                </div>
                <div class="modal-body">
                    <div id='danger' class='alert alert-danger hidden'></div>
                    <div class="panel-body">
                        <div class="form-horizontal form-material">
                            <div class="white-box">
                                <div class="col-md-12">
                                    <div class="col-lg-12">
                                        <div class="col-md-1">
                                            <a data-toggle="modal" href="#responsive-modal-modelP"><span class="circle circle-sm bg-success di"><i class="ti-plus"></i></span></a>
                                        </div>
                                        <div class="col-md-5" style="padding-bottom: 10px; padding-top: 10px;">
                                            <label>Proveedor</label>
                                            <input id="idPro" class="form-control form-control-line" />
                                            <input id="idProVal" type="hidden" />
                                        </div>
                                        <div class="col-md-3" style="padding-bottom: 10px; padding-top: 10px;">
                                            <label>Documento</label>
                                            <input id="idCodComp" class="form-control form-control-line" />
                                            <input id="idCodCompVal" type="hidden" />
                                        </div>
                                        <div class="col-md-1" style="padding-bottom: 10px; padding-top: 10px;">
                                            <label>Serie</label>
                                            <input id="numSerie" class="form-control form-control-line" />
                                        </div>
                                        <div class="col-md-2" style="padding-bottom: 10px; padding-top: 10px;">
                                            <label>Correlativo</label>
                                            <input id="numCorrelativo" class="form-control form-control-line" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="white-box">
                                <div class="table-responsive m-t-10" style="clear: both;">
                                    <div id="slimtestTC">
                                        <table class="table table-hover" id="tb_TComprobante">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Proveedor</th>
                                                    <th class="text-center">Documento</th>
                                                    <th class="text-center">Serie</th>
                                                    <th class="text-center">Correlativo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{string tc = ""; try { tc = @ViewBag.tbDocumento; } catch { }}
                                                @(new HtmlString(tc))
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </section>
        </div>
    </div>
</div>
<!--model documentos-->

<div class="white-box p-l-20 p-r-20">
    <h3 class="box-title m-b-0"> Nueva Solicitud de Gasto</h3>
    <p class="text-muted m-b-30 font-13">Completar todos los campos necesarios.</p>
    <div id='danger' class='alert alert-danger hidden'></div>
    @{string msg = ""; try { msg = TempData["mensaje"].ToString(); } catch { }}
    @(new HtmlString(msg))
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Registrar", "SolicitudGastoMkt", FormMethod.Post, new { id = "newSol", enctype = "multipart/form-data", @class = "form-horizontal form-material" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <section id="wrapper" class="block1">
                        <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                            <div class="panel">
                                <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab"> <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne"> Datos de la Solicitud </a> </div>
                                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel">
                                    @Html.HiddenFor(model => model.monDes)
                                    @Html.HiddenFor(model => model.idEst)
                                    @Html.HiddenFor(model => model.idAccSol)
                                    @Html.HiddenFor(model => model.lugSolGas)
                                    @Html.HiddenFor(model => model.usuCrea)
                                    @Html.HiddenFor(model => model.usufchCrea)

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idAccRes) </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(model => model.idAccRes, (SelectList)ViewBag.responsable, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                        @Html.ValidationMessageFor(model => model.idAccRes, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idAccApro) </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(model => model.idAccApro, (SelectList)ViewBag.aprobador, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                        @Html.ValidationMessageFor(model => model.idAccApro, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idTipGas) </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(model => model.idTipGas, (SelectList)ViewBag.tipogasto, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                        @Html.ValidationMessageFor(model => model.idTipGas, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idConGas)</label>
                                                    <div class="col-md-12">
                                                        @Html.HiddenFor(model => model.procedeA, new { Value = ViewBag.procedeA })
                                                        @Html.DropDownListFor(model => model.idConGas, (SelectList)ViewBag.congasto, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line col-md-11" })
                                                        @Html.ValidationMessageFor(model => model.idConGas, "", new { @class = "text-danger" })
                                                    </div>
                                                    <!--<div class="col-md-1">
                                                        <span class="circle circle-sm bg-info di">
                                                        <i class="mdi mdi-check-circle"></i>
                                                        </span>
                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idEsp) </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(model => model.idEsp, (SelectList)ViewBag.especialidad, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                        @Html.ValidationMessageFor(model => model.idEsp, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.fchEveSolGas)</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control form-control-line datepicker" id="fchEveSolGas" name="fchEveSolGas" placeholder="dd/mm/aaaa" autocomplete="off" value="@ViewBag.fecha">
                                                        @Html.ValidationMessageFor(model => model.fchEveSolGas, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idZon) </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(model => model.idZon, (SelectList)ViewBag.zona, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                        @Html.ValidationMessageFor(model => model.idZon, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idLin) </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(model => model.idLin, (SelectList)ViewBag.linea, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                        @Html.ValidationMessageFor(model => model.idLin, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idTipSol)</label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(model => model.idTipSol, (SelectList)ViewBag.tiposolicitud, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                        @Html.ValidationMessageFor(model => model.idTipSol, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idTipPag)</label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(model => model.idTipPag, (SelectList)ViewBag.tipopago, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                        @Html.ValidationMessageFor(model => model.idTipPag, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.titSolGas)</label>
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.titSolGas, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Título" } })
                                                        @Html.ValidationMessageFor(model => model.titSolGas, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.obsSolGas)</label>
                                                    <div class="col-md-12">
                                                        @Html.TextAreaFor(model => model.obsSolGas, new { @class = "form-control form-control-line", @rows = 5, @placeholder = "Observación" })
                                                        @Html.ValidationMessageFor(model => model.obsSolGas, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-12">@Html.LabelFor(model => model.idPres)</label>
                                                    <div class="col-md-12">
                                                        @Html.HiddenFor(model => model.procede)

                                                        <select id="idPres" name="idPres" multiple="multiple" class="select2 m-b-10 select2-multiple">
                                                            @{

                                                                if ((SelectList)ViewBag.presupuesto != null)
                                                                {
                                                                    foreach (var p in (SelectList)ViewBag.presupuesto)
                                                                    {
                                                                        var sp = new List<string>();
                                                                        if (Model != null)
                                                                        {
                                                                            sp = Model.idPres;
                                                                        }

                                                                        if (sp.Contains(p.Value))
                                                                        {
                                                                            <option value="@p.Value" selected>@p.Text</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@p.Value">@p.Text</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4" style="padding-bottom: 10px; padding-top: 10px;">
                                                            <label>Total</label>
                                                            @Html.EditorFor(model => model.monSolGas, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "0.00" } })
                                                            @Html.ValidationMessageFor(model => model.monSolGas, "", new { @class = "text-danger" })
                                                        </div>

                                                        <div class="col-md-4" style="padding-bottom: 10px; padding-top: 10px;">
                                                            <label>Impuesto</label>
                                                            @Html.EditorFor(model => model.monImp, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "0.00", @readonly = "" } })
                                                            @Html.ValidationMessageFor(model => model.monImp, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-4" style="padding-bottom: 10px; padding-top: 10px;">
                                                            <label>SubTotal</label>
                                                            @Html.HiddenFor(model => model.monDetalle)
                                                            @Html.EditorFor(model => model.monNeto, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "0.00", @readonly = "" } })
                                                            @Html.ValidationMessageFor(model => model.monNeto, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4" style="padding-bottom: 10px; padding-top: 10px;">
                                                            <label>Moneda</label>
                                                            @Html.DropDownListFor(model => model.idMon, (SelectList)ViewBag.moneda, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                            @Html.ValidationMessageFor(model => model.idMon, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-md-4" style="padding-bottom: 10px; padding-top: 10px;">
                                                            <label>T.Cambio</label>
                                                            @Html.EditorFor(model => model.valtipCam, new { htmlAttributes = new { @class = "form-control form-control-line", @placeholder = "Tipo de cambio", @readonly = "readonly" } })
                                                            @Html.ValidationMessageFor(model => model.valtipCam, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                                <div class="white-box">
                                                    <h3 class="box-title">Documentos</h3>
                                                    <ul class="list-inline two-part">
                                                        <li><a data-toggle="modal" href="#responsive-modal-doc"><i class="fa fa-file-text-o text-success"></i></a></li>
                                                        <li class="text-right"><span class="">@Html.EditorFor(model => model.cantDoc, new { htmlAttributes = new { @style = "border: 0;width: 100%;", @readonly = "readonly" } })</span></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab"> <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">Detalle Gastos </a> </div>
                                <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel">
                                    <div class="col-md-12">
                                        <br />
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-12">@Html.LabelFor(model => model.idActiv)</label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.idActiv, (SelectList)ViewBag.actividad, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-12">@Html.LabelFor(model => model.idActivEst)</label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.idActivEst, (SelectList)ViewBag.estimacion, "Seleccionar....", htmlAttributes: new { @class = "form-control form-control-line" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-md-12">
                                            <a data-toggle="modal" title="Agregar Actividad" class="btn btn-block btn-primary" href="#responsive-modal-actividad">
                                                <span class="glyphicon glyphicon-plus"></span> AGREGAR ACTIVIDAD Y GASTOS
                                            </a>
                                            <div class="table-responsive m-t-10" style="clear: both;">
                                                <table class="table table-hover" id="tb_actividad">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">T.Gasto</th>
                                                            <th class="text-center">Gasto</th>
                                                            <th class="text-center">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{ string a = ""; try { a = @ViewBag.tbActividad; } catch { }}
                                                        @(new HtmlString(a))
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                                                        <br>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                                                        <a id="btnRedondear" class="btn btn-block btn-outline btn-default" role="button"> Redondear</a>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
                                                        <br>
                                                    </div>
                                                    <div class="pull-right m-t-30 text-right">
                                                        <hr>
                                                        <h5><b>Total :</b> <label id="idSuma"></label></h5>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading" id="exampleHeadingDefaultThree" role="tab"> <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultThree" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultThree"> Detalle Familia </a> </div>
                                <div class="panel-collapse collapse" id="exampleCollapseDefaultThree" aria-labelledby="exampleHeadingDefaultThree" role="tabpanel">
                                    <div class="col-md-12">
                                        <a data-toggle="modal" title="Agregar familia" class="btn btn-block btn-primary" href="#responsive-modal">
                                            <span class="glyphicon glyphicon-plus"></span> AGREGAR FAMILIA
                                        </a>
                                        <div class="table-responsive m-t-10" style="clear: both;">
                                            <table class="table table-hover" id="tb_Familia">
                                                <thead>
                                                    <tr>
                                                        <th class="hidden"></th>
                                                        <th class="text-center">Familia</th>
                                                        <th class="text-center">Area Ter.</th>
                                                        <th class="hidden"></th>
                                                        <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ string v = ""; try { v = @ViewBag.tbFamilia; } catch { }}
                                                    @(new HtmlString(v))

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" id="exampleHeadingDefaultFour" role="tab"> <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultFour" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultFour"> Detalle Medico </a> </div>
                                <div class="panel-collapse collapse" id="exampleCollapseDefaultFour" aria-labelledby="exampleHeadingDefaultFour" role="tabpanel">
                                    <div class="col-md-12">
                                        <a data-toggle="modal" title="Agregar familia" class="btn btn-block btn-primary" href="#responsive-modal-medico">
                                            <span class="glyphicon glyphicon-plus"></span> AGREGAR MEDICO
                                        </a>
                                        <div class="table-responsive m-t-10" style="clear: both;">
                                            <table class="table table-hover" id="tb_medico">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Nombre</th>
                                                        <th class="text-center">Matricula</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ string v1 = ""; try { v1 = @ViewBag.tbMedico; } catch { }}
                                                    @(new HtmlString(v1))
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" id="exampleHeadingDefaultFive" role="tab"> <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultFive" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultFive"> Detalle Responsable </a> </div>
                                <div class="panel-collapse collapse" id="exampleCollapseDefaultFive" aria-labelledby="exampleHeadingDefaultFive" role="tabpanel">
                                    <div class="col-md-12">
                                        <a data-toggle="modal" title="Agregar responsable" class="btn btn-block btn-primary" href="#responsive-modal-responsable">
                                            <span class="glyphicon glyphicon-plus"></span> AGREGAR RESPONSABLE
                                        </a>
                                        <div class="table-responsive m-t-10" style="clear: both;">
                                            <table class="table table-hover" id="tb_responsable">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Nombre</th>
                                                        <th class="text-center">DNI</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ string v2 = ""; try { v2 = @ViewBag.tbResponsable; } catch { }}
                                                    @(new HtmlString(v2))
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div id='danger' class='alert alert-danger hidden'></div>
                    <div class="panel-group">
                        <div class="col-md-4 tab-content">
                            <div class="col-lg-6 col-sm-4 panel-group">
                                <button class="btn btn-block btn-outline btn-rounded btn-info" onclick="Hidden('familia', 'tb_Familia', '0|1|2|3', '|'); Hidden('medico', 'tb_medico', '0|1|2', '|'); Hidden('responsable', 'tb_responsable', '0|1|2', '|'); Hidden('actividad', 'tb_actividad', '0|1|2|3|4|5|6|7', '|');Hidden('documento', 'tb_TComprobante', '0|1|2|3|4|5', '|');">Guardar</button>
                            </div>
                            <div class="col-lg-6 col-sm-4">
                                @Html.ActionLink("Volver", "Index", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista, pagina = SessionPersister.Pagina, search = SessionPersister.Search }, new { @Class = "btn btn-block btn-outline btn-rounded btn-default" })
                            </div>
                        </div>
                    </div>

                    <!--Detalle-->
                    <input type="hidden" name="familiaD" id="familia" />
                    <input type="hidden" name="medicoD" id="medico" />
                    <input type="hidden" name="responsableD" id="responsable" />
                    <input type="hidden" name="actividadD" id="actividad" />
                    <input type="hidden" name="documentoD" id="documento" />
                </div>
            }
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Areas/Marketing/Scripts/Marketing.js"></script>
    @Scripts.Render("~/Bundles/autocompletado_JS")
    @Scripts.Render("~/Bundles/selectBusqueda_JS")
    @Scripts.Render("~/Bundles/datepicker_JS")
    @Scripts.Render("~/Bundles/bloqueo_JS")

    <script>
        $("#idConGas").select2();
        $(".select2-container").tooltip({
            title: function () {
                return $(this).prev().attr("title");
            },
            placement: "auto",
            //container: 'body'
        });
        $("#idConGas").tooltip({
            placement: 'right',
            trigger: 'hover',
            container: 'body',
            title: function (e) {
                return $(this).find('.active').attr('title');
            }
        });
        $(document).ready(function () {
            //cabecera/////////////////////////////////////////////////////

            $("#idAccRes").select2();
            $("#idTipGas").select2();
            $("#idEsp").select2();
            $("#idLin").select2();
            $("#idZon").select2();
           

            $("#idPres").select2();
            $("#idAccApro").select2();
            $("#idActivEst").select2();
            $("#idActiv").select2();
            $("#idTipGasAct").select2();
            $("#idActGas").select2();
            $("#idActivRel").select2();
            cargaPresupuesto();
            //$("#procedeA").val('true');//no necesita al comienzo
            //para la fecha
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy'
            });
            $('#idSuma').text($('#monDetalle').val());
            /////
            $("#btnRedondear").on("click", function () {
                var num_gas = $("#tb_actividad > tbody > tr").length;
                console.log("Num_gas: " + num_gas);
                if (num_gas > 0) {
                    //monNeto
                    var montoNeto = $("#monNeto").val();
                    var montoDet = $("#monDetalle").val();
                    var redondo = parseFloat(montoNeto) - parseFloat(montoDet);
                    redondo = redondo.toFixed(2);
                    //---------------------------------------------------------
                    console.log("montoNeto: " + montoNeto);
                    console.log("montoDet: " + montoDet);
                    console.log("redondo: " + redondo);
                    if (redondo < 0.1 && redondo > -0.1) {
                        //----METODO PARA REDONDEAR ----
                        $('#tb_actividad').find('tr').eq(parseInt(num_gas)).find("td").each(function () {
                            if ($(this).index() == 6) {
                                var monto = $(this).text();
                                console.log("monto ciclo: " + monto);
                                var neo = parseFloat(monto) + parseFloat(redondo);
                                neo = neo.toFixed(2);
                                console.log("neo ciclo: " + neo);
                                $(this).text(parseFloat(neo));
                            }
                        });
                        //----***METODO PARA REDONDEAR*** ----
                    }
                    else { swal("No se puede redondear, sobrepasa el rango de 0.1 ... "); }
                } else { swal("No existen filas a redondear"); }
                //<!---------SUMAR A TOTALES -----------------
                //sumo todo
                var detalle = 0;
                $('#tb_actividad tbody tr').each(function (index) {//verifico que no sea repetido
                    detalle += parseFloat($('#tb_actividad tbody tr').eq(index).find("td").eq(parseInt(6)).html());
                });
                $('#monDetalle').val(detalle.toFixed(2));
                $('#idSuma').text(detalle.toFixed(2));
            });

            //llenar concepto de gasto por un tipo de gasto
            $("#idTipGas").change(function () {
                if ($("#idTipGas").val() != "") {
                    $("#idConGas").prop("disabled", true);
                    var RolOptions = {};
                    RolOptions.url = "/SolicitudGastoMkt/buscarConceptoTGasto";
                    RolOptions.type = "POST";
                    RolOptions.data = JSON.stringify({ idTipGas: $("#idTipGas").val() });
                    RolOptions.datatype = "json";
                    RolOptions.contentType = "application/json";
                    RolOptions.success = function (data) {
                        $("#idConGas").select2("val", "");
                        $('#idConGas').empty();
                        $("#idConGas").append($("<option> </option>").val("").html("Seleccionar"));
                        $.each(data, function (i, item) {
                            $("#idConGas").append($("<option> </option>").val(item.idConGas).html(item.nomConGas));

                        });

                    };
                    RolOptions.error = function () { alert("Error in Getting States!!"); };
                    $.ajax(RolOptions);
                    $("#idConGas").prop("disabled", false);
                }
                else {
                    $("#idConGas").select2("val", "");
                    $("#idConGas").prop("disabled", true);
                }
                //---- Ver presupuesto --------
                cargaPresupuesto();
                //------------------------------
            });
            //llenar aprobadorres por responsable
            $("#idAccRes").change(function () {
                if ($("#idAccRes").val() != "") {
                    //aprobadores
                    $("#idAccApro").prop("disabled", true);
                    var RolOptions = {};
                    RolOptions.url = "/SolicitudGastoMkt/buscarAprobadores";
                    RolOptions.type = "POST";
                    RolOptions.data = JSON.stringify({ idAccRes: $("#idAccRes").val() });
                    RolOptions.datatype = "json";
                    RolOptions.contentType = "application/json";
                    RolOptions.success = function (data) {
                        $("#idAccApro").select2("val", "");
                        $('#idAccApro').empty();
                        $("#idAccApro").append($("<option> </option>").val("").html("Seleccionar"));
                        $.each(data, function (i, item) {
                            $("#idAccApro").append($("<option> </option>").val(item.idAccApro).html(item.nom));
                        });
                    };
                    RolOptions.error = function () { alert("Error in Getting States!!"); };
                    $.ajax(RolOptions);
                    $("#idAccApro").prop("disabled", false);
                    //Linea
                    $("#idLin").prop("disabled", true);
                    var RolOptionsL = {};
                    RolOptionsL.url = "/SolicitudGastoMkt/buscarLinea";
                    RolOptionsL.type = "POST";
                    RolOptionsL.data = JSON.stringify({ idAccRes: $("#idAccRes").val() });
                    RolOptionsL.datatype = "json";
                    RolOptionsL.contentType = "application/json";
                    RolOptionsL.success = function (data) {
                        $("#idLin").select2("val", "");
                        $('#idLin').empty();
                        $("#idLin").append($("<option> </option>").val("").html("Seleccionar"));
                        $.each(data, function (i, item) {
                            $("#idLin").append($("<option> </option>").val(item.value).html(item.text));
                        });
                    };
                    RolOptionsL.error = function () { alert("Error in Getting States!!"); };
                    $.ajax(RolOptionsL);
                    $("#idLin").prop("disabled", false);
                    //Zona
                    $("#idZon").prop("disabled", true);
                    var RolOptionsZ = {};
                    RolOptionsZ.url = "/SolicitudGastoMkt/buscarZona";
                    RolOptionsZ.type = "POST";
                    RolOptionsZ.data = JSON.stringify({ idAccRes: $("#idAccRes").val() });
                    RolOptionsZ.datatype = "json";
                    RolOptionsZ.contentType = "application/json";
                    RolOptionsZ.success = function (data) {
                        $("#idZon").select2("val", "");
                        $('#idZon').empty();
                        $("#idZon").append($("<option> </option>").val("").html("Seleccionar"));
                        $.each(data, function (i, item) {
                            $("#idZon").append($("<option> </option>").val(item.value).html(item.text));
                        });
                    };
                    RolOptionsZ.error = function () { alert("Error in Getting States!!"); };
                    $.ajax(RolOptionsZ);
                    $("#idZon").prop("disabled", false);
                    //Especialidad
                    $("#idEsp").prop("disabled", true);
                    var RolOptionsE = {};
                    RolOptionsE.url = "/SolicitudGastoMkt/buscarEspecilidad";
                    RolOptionsE.type = "POST";
                    RolOptionsE.data = JSON.stringify({ idAccRes: $("#idAccRes").val() });
                    RolOptionsE.datatype = "json";
                    RolOptionsE.contentType = "application/json";
                    RolOptionsE.success = function (data) {
                        $("#idEsp").select2("val", "");
                        $('#idEsp').empty();
                        $("#idEsp").append($("<option> </option>").val("").html("Seleccionar"));
                        $.each(data, function (i, item) {
                            $("#idEsp").append($("<option> </option>").val(item.value).html(item.text));
                        });

                    };
                    RolOptionsE.error = function () { alert("Error in Getting States!!"); };
                    $.ajax(RolOptionsE);
                    $("#idEsp").prop("disabled", false);
                    //Tipo de Gastos
                    $("#idTipGas").prop("disabled", true);
                    var RolOptionsE = {};
                    RolOptionsE.url = "/SolicitudGastoMkt/buscarTipoDeGasto";
                    RolOptionsE.type = "POST";
                    RolOptionsE.data = JSON.stringify({ idAccRes: $("#idAccRes").val() });
                    RolOptionsE.datatype = "json";
                    RolOptionsE.contentType = "application/json";
                    RolOptionsE.success = function (data) {
                        $("#idTipGas").select2("val", "");
                        $('#idTipGas').empty();
                        $("#idTipGas").append($("<option> </option>").val("").html("Seleccionar"));
                        $.each(data, function (i, item) {
                            $("#idTipGas").append($("<option> </option>").val(item.value).html(item.text));
                        });

                    };
                    RolOptionsE.error = function () { alert("Error in Getting States!!"); };
                    $.ajax(RolOptionsE);
                    $("#idTipGas").prop("disabled", false);
                    //-----------------------------------------
                    $("#idConGas").select2("val", "");
                    $("#idConGas").prop("disabled", true);
                    //-----------------------------------------

                }
                else {
                    $("#idAccApro").select2("val", "");
                    $("#idAccApro").prop("disabled", true);

                    $("#idLin").select2("val", "");
                    $("#idLin").prop("disabled", true);

                    $("#idZon").select2("val", "");
                    $("#idZon").prop("disabled", true);

                    $("#idEsp").select2("val", "");
                    $("#idEsp").prop("disabled", true);

                    $("#idTipGas").select2("val", "");
                    $("#idTipGas").prop("disabled", true);
                    //-----------------------------------------
                    $("#idConGas").select2("val", "");
                    $("#idConGas").prop("disabled", true);
                    //-----------------------------------------

                }
                //------------------------------
                //---- Ver presupuesto --------
                cargaPresupuesto();
                //------------------------------

            });
            $("#idTipGas").change(function () {
                if ($("#idTipGas").val() == '@ConstantesGlobales.tipGas_Actividad') {
                    //logica
                    $("#monImp").removeAttr("readonly");
                    $("#procedeA").val('true');//necesita llenar actividad
                    //APARECE EL COMBO DE ACTIVIDAD
                    $("#actRel").removeClass("hidden");
                }
                else {
                    //logica
                    $("#monImp").attr("readonly", "readonly");
                    $("#procedeA").val('false');//no necesita
                    //DESAPARECE EL COMBO DE ACTIVIDAD
                    $("#actRel").addClass("hidden");
                }
            });
            //**********************************************

            //**********************************************
            $("#idTipPag").change(function () {
                if($("#idTipPag").val()=='@ConstantesGlobales.tipPag_tarCre'){
                    $("#idEst").val('@ConstantesGlobales.estadoAtendido');
                }
                else{
                    $("#idEst").val('@ConstantesGlobales.estadoRegistrado');
                }
            });

            $("#idTipSol").change(function () {
                if ($("#idTipSol").val()=='1'){
                    $("#monImp").removeAttr("readonly");
                }
                else{
                    $("#monImp").attr("readonly", "readonly");
                    $("#monImp").val(0);
                    $("#monNeto").val(0);
                    $("#monSolGas").val(0);
                }
            });
            $("#monSolGas").change(function () {
                var total = 0;
                var imp = 0;
                var cal=0;
                if ($.isNumeric($("#monSolGas").val())) {
                    total = parseFloat($("#monSolGas").val());
                }
                if ($.isNumeric($("#monImp").val())) {
                    imp = parseFloat($("#monImp").val());
                }

                cal=total - imp;
                $("#monSolGas").val(total);
                $("#monImp").val(imp);
                $("#monNeto").val(cal.toFixed(2));
            });
            $("#monImp").change(function () {
                var total = 0;
                var imp = 0;
                var cal=0;
                if ($.isNumeric($("#monSolGas").val())) {
                    total = parseFloat($("#monSolGas").val());
                }

                if ($.isNumeric($("#monImp").val())) {
                    imp = parseFloat($("#monImp").val());
                }
                cal=total - imp;
                $("#monSolGas").val(total);
                $("#monImp").val(imp);
                $("#monNeto").val(cal.toFixed(2));
            });
            //Detalle/////////////////////////////////////////////////////
            //familia
            $('#slimtest4').slimScroll({
                color: '#00f'
                , size: '10px'
                , height: '250px'
                , alwaysVisible: true
            });

            $('#tb_Familia_Search tbody').on('click', 'tr', function () {
                var duplicado = false;
                var row = "";
                //obtengo el id de la otra tabla
                var id = $("#tb_Familia > tbody > tr:last > td:first").text();

                //verifico que no este en la tabla
                var codigo = $(this).find("td").eq(2).text();
                var at = $(this).find("td").eq(3).text();
                //console.log("Es" + codigo + "-" + at);
                $('#tb_Familia tbody tr').each(function (index) {
                    if ($('#tb_Familia tbody tr').eq(index).find("td").eq(parseInt(0)).html() == codigo  && $('#tb_Familia tbody tr').eq(index).find("td").eq(parseInt(3)).html() == at ) {
                        duplicado = true;
                    }
                });

                //si esta duplicado muestro un mensaje
                if (duplicado == true) {
                    $("div #danger").removeClass('hidden');
                    $("div #danger").text('No se puede seleccionar el mismo elemento');
                    setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                    setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                    return false;
                }

                row = "<tr>";
                row += "<td class='hidden'>" + $(this).find("td").eq(2).text() + "</td>";
                row += "<td class='text-center'>" + $(this).find("td").eq(0).text() + "</td>";
                row += "<td class='text-center'>" + $(this).find("td").eq(1).text() + "</td>";
                row += "<td class='hidden'>" + $(this).find("td").eq(3).text() + "</td>";
                row += "<td class='elimfila'><span class='glyphicon glyphicon-remove'></span></td>";
                row += "</tr>";
                $("#tb_Familia > tbody:last").append(row);

                //$("#responsive-modal").modal('hide');
            });
            //medico
            $('#slimtest4M').slimScroll({
                color: '#00f'
                , size: '10px'
                , height: '250px'
                , alwaysVisible: true
            });
            $('#tb_medico_Search tbody').on('click', 'tr', function () {
                var duplicado = false;
                var row = "";
                //obtengo el id de la otra tabla
                var id = $("#tb_medico > tbody > tr:last > td:first").text();

                //verifico que no este en la tabla
                var codigo = $(this).find("td").eq(0).text();
                $('#tb_medico tbody tr').each(function (index) {
                    if ($('#tb_medico tbody tr').eq(index).find("td").eq(parseInt(0)).html() == codigo) {
                        duplicado = true;
                    }
                });

                //si esta duplicado muestro un mensaje
                if (duplicado == true) {
                    $("div #danger").removeClass('hidden');
                    $("div #danger").text('No se puede seleccionar el mismo elemento');
                    setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                    setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                    return false;
                }

                row = "<tr>";
                row += "<td class='text-center'>" + $(this).find("td").eq(0).text() + "</td>";
                row += "<td class='text-center'>" + $(this).find("td").eq(1).text() + "</td>";
                row += "<td class='text-center'>" + $(this).find("td").eq(2).text() + "</td>";
                row += "<td class='elimfila'><span class='glyphicon glyphicon-remove'></span></td>";
                row += "</tr>";
                $("#tb_medico > tbody:last").append(row);

                //$("#responsive-modal-medico").modal('hide');
            });
            //responsable
            $('#slimtest4R').slimScroll({
                color: '#00f'
                , size: '10px'
                , height: '250px'
                , alwaysVisible: true
            });
            $('#tb_responsable_Search tbody').on('click', 'tr', function () {
                var duplicado = false;
                var row = "";
                //obtengo el id de la otra tabla
                var id = $("#tb_responsable > tbody > tr:last > td:first").text();

                //verifico que no este en la tabla
                var codigo = $(this).find("td").eq(0).text();
                $('#tb_responsable tbody tr').each(function (index) {
                    if ($('#tb_responsable tbody tr').eq(index).find("td").eq(parseInt(0)).html() == codigo) {
                        duplicado = true;
                    }
                });

                //si esta duplicado muestro un mensaje
                if (duplicado == true) {
                    $("div #danger").removeClass('hidden');
                    $("div #danger").text('No se puede seleccionar el mismo elemento');
                    setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                    setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                    return false;
                }

                row = "<tr>";
                row += "<td class='text-center'>" + $(this).find("td").eq(0).text() + "</td>";
                row += "<td class='text-center'>" + $(this).find("td").eq(1).text() + "</td>";
                row += "<td class='text-center'>" + $(this).find("td").eq(2).text() + "</td>";
                row += "<td class='elimfila'><span class='glyphicon glyphicon-remove'></span></td>";
                row += "</tr>";
                $("#tb_responsable > tbody:last").append(row);

                //$("#responsive-modal-responsable").modal('hide');
            });
            //Detalle/////////////////////////////////////////////////////
            //valores fijos.
            $("#idAccSol").val('@SessionPersister.UserId');
            $("#valtipCam").val('@ViewBag.tipocambio');
            $("#usuCrea").val('@SessionPersister.Username');
            $("#usufchCrea").val('@DateTime.Now');
            ///////////Presupuesto///////////////////////////////////////////
            //para que tengan la opcion de buscar en el combobox y el Pto
            //----------------------------

            habilitarTipSol();
            //----------------------------
            $("#idConGas").change(function () {
                cargaPresupuesto();
            });

            $("#idEsp").change(function () {
                cargaPresupuesto();

            });

            $("#idAccApro").change(function () {
                cargaPresupuesto();
            });
            ///////////Presupuesto///////////////////////////////////////////

            ///////////ACTIVIDAD///////////////////////////////////////////
            $("#idActiv").change(function () {
                comboEstimacion();
            });
            $("#idActivEst").change(function () {
                cargaTipoGasto();
                cargarDetalleFamilia();
                cargarDetalleMedico();
            });
            $("#idTipGasAct").change(function () {
                cargaGasto();
            });
            $("#monSolGas").change(function () {
                comboActividad();
            });
            $("#monCant").change(function () {
                var cant = 0;
                var prom = 0;
                var total = 0;

                if ($.isNumeric($("#monCant").val())) {
                    cant = parseInt($("#monCant").val());
                }
                if ($.isNumeric($("#monProm").val())) {
                    prom = parseFloat($("#monProm").val());
                }

                total = cant * prom;
                $("#monCant").val(cant);
                $("#monProm").val(prom);
                $("#monTotal").val(total.toFixed(2));
            });
            $("#monProm").change(function () {
                var cant = 0;
                var prom = 0;
                var total = 0;

                if ($.isNumeric($("#monCant").val())) {
                    cant = parseInt($("#monCant").val());
                }
                if ($.isNumeric($("#monProm").val())) {
                    prom = parseFloat($("#monProm").val());
                }

                total = cant * prom;
                $("#monCant").val(cant);
                $("#monProm").val(prom);
                $("#monTotal").val(total.toFixed(2));
            });

             ///////////ACTIVIDAD///////////////////////////////////////////

            //auto completar
            $("#idPro").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url:'@Url.Action("autoProveedor", "SolicitudGastoMkt")',
                        type: "POST",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.nomProv, value: item.nomProv, valor: item.idPro
                                };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    $("#idProVal").val(ui.item.valor);
                }
            });

            $("#idCodComp").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/SolicitudGastoMkt/autoTComprobante",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.nomTipComp, value: item.nomTipComp, valor: item.idCodComp
                                };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    $("#idCodCompVal").val(ui.item.valor);
                }
            });

            $("#numSerie").change(function () {
                $("#numSerie").val(('000' + $("#numSerie").val()).slice(-4));
            });

            $('#slimtestTC').slimScroll({
                color: '#00f'
                , size: '10px'
                , height: '250px'
                , width: '500px'
                , alwaysVisible: true
            });
            $('#numCorrelativo').focusout(function (e) {
                var nomPro=$("#idPro").val();
                var idPro=$("#idProVal").val();
                var nomDocu=$("#idCodComp").val();
                var idDocu=$("#idCodCompVal").val();
                var numSerie=$("#numSerie").val();
                var numCorr=$("#numCorrelativo").val();
                var row = "";
                var duplicado = false;

                if (nomPro != "" && nomDocu != "" && numSerie != "" && numCorr != "" ) {
                    //verifico que hayan seleccionado del listado ////////////////////////////
                    if (idPro == "") {
                        $("div #danger").removeClass('hidden');
                        $("div #danger").text('Vuelva a buscar el Proveedor');
                        setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                        setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                        $("#idPro").focus();
                        return false;
                    }
                    if (idDocu == "") {
                        $("div #danger").removeClass('hidden');
                        $("div #danger").text('Vuelva a buscar el Documento');
                        setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                        setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                        $("#idCodComp").focus();
                        return false;
                    }
                    //verifico que hayan seleccionado del listado ////////////////////////////

                    //verifico duplicidad en la tabla////////////////////////////
                    $('#tb_TComprobante tbody tr').each(function (index) {

                        var prov = $('#tb_TComprobante tbody tr').eq(index).find("td").eq(parseInt(0)).html();
                        var comp = $('#tb_TComprobante tbody tr').eq(index).find("td").eq(parseInt(2)).html();
                        var seri = $('#tb_TComprobante tbody tr').eq(index).find("td").eq(parseInt(4)).html();
                        var corr = $('#tb_TComprobante tbody tr').eq(index).find("td").eq(parseInt(5)).html();

                        if (prov == idPro && idDocu == comp && seri == numSerie && numCorr == corr) {
                            duplicado = true;
                        }
                    });
                    if (duplicado == true) {
                        $("div #danger").removeClass('hidden');
                        $("div #danger").text('Ya esta agregado el documento en la tabla');
                        setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                        setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                        return false;
                    }
                    //verifico duplicidad en la tabla////////////////////////////

                    ///////////////////////////////////////verifico la base de datos///////////////////////////////////////
                    $.post('/Marketing/SolicitudGastoMkt/existeDocumento', { idPro: idPro, idCodComp: idDocu, numSerie: numSerie, numCorrelativo: numCorr}, function (data, status) {
                        if (data == true) {
                            $("div #danger").removeClass('hidden');
                            $("div #danger").text('Ya esta ingresado en la base de datos');
                            setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                            setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                            return false;
                        }
                        else {
                            //tabla//////
                            row = "<tr>";
                            row += "<td class='text-center hidden'>" + idPro + "</td>";
                            row += "<td class='text-center'>" + nomPro + "</td>";
                            row += "<td class='text-center hidden'>" + idDocu + "</td>";
                            row += "<td class='text-center'>" + nomDocu + "</td>";
                            row += "<td class='text-center '>" + numSerie + "</td>";
                            row += "<td class='text-center '>" + numCorr + "</td>";
                            row += "<td class='elimfila'><span class='glyphicon glyphicon-remove'></span></td>";
                            row += "</tr>";
                            $("#tb_TComprobante > tbody:last").append(row);
                            //agregar textarea
                             var txt = $("#obsSolGas").val();
                             console.log(txt);
                             $("#obsSolGas").val(txt+ "\n" +nomPro + " - " + nomDocu + " - " + numSerie + " - " + numCorr);
                            //////
                            $("#idPro").val("");
                            $("#idProVal").val("");
                            $("#idCodComp").val("");
                            $("#idCodCompVal").val("");
                            $("#numSerie").val("");
                            $("#numCorrelativo").val("");
                            $("#idPro").focus();
                            //tabla//////
                            $("#cantDoc").val($('#tb_TComprobante tbody tr').length);
                        }
                    });
                    ///////////////////////////////////////verifico la base de datos///////////////////////////////////////
                }else{
                    $("div #danger").removeClass('hidden');
                    $("div #danger").text('No se puede dejar campos en blanco');
                    setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                    setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                    $("#idPro").focus();
                }

            });


        });

        function comboEstimacion() {
            //aprobadores
            $("#idActivEst").prop("disabled", true);
            var RolOptions = {};
            RolOptions.url = "/SolicitudGastoMkt/buscarEstimacion";
            RolOptions.type = "POST";
            RolOptions.data = JSON.stringify({ idActiv: $("#idActiv").val() });
            RolOptions.datatype = "json";
            RolOptions.contentType = "application/json";
            RolOptions.success = function (data) {
                $("#idActivEst").select2("val", "");
                $('#idActivEst').empty();
                $("#idActivEst").append($("<option> </option>").val("").html("Seleccionar"));
                $.each(data, function (i, item) {
                    $("#idActivEst").append($("<option> </option>").val(item.idActiv).html(item.nom));
                });

            };
            RolOptions.error = function () { alert("Error in Getting States!!"); };
            $.ajax(RolOptions);
            $("#idActivEst").prop("disabled", false);
        }
        function comboActividad() {
            $("#idActiv").prop("disabled", true);
            var RolOptions = {};
            RolOptions.url = "/SolicitudGastoMkt/buscarActividad";
            RolOptions.type = "POST";
            RolOptions.data = JSON.stringify({ idAccRes: $("#idAccRes").val(), idEsp: $("#idEsp").val(),idPres:$("#idPres").val() });
            RolOptions.datatype = "json";
            RolOptions.contentType = "application/json";
            RolOptions.success = function (data) {
                $("#idActiv").select2("val", "");
                $('#idActiv').empty();
                $("#idActiv").append($("<option> </option>").val("").html("Seleccionar"));

                $.each(data, function (i, item) {
                    $("#idActiv").append($("<option> </option>").val(item.idActiv).html(item.nomActiv));
                });

            };
            RolOptions.error = function () { alert("Error in Getting States!!"); };
            $.ajax(RolOptions);
            $("#idActiv").prop("disabled", false);
        }
        function cargaPresupuesto() {
                var tipgas = $("#idTipGas").val();
                var gasto = $("#idConGas").val();
                var especialidad = $("#idEsp").val();
                var responsable = $("#idAccRes").val();

                $("#idPres").select2("val", "");
                $('#idPres').empty();
                if (gasto != "" && especialidad != "" && responsable != "") {
                    $.post('/Marketing/SolicitudGastoMkt/verificarPresupuesto', { resp: responsable, tip: tipgas,gas: gasto, esp: especialidad }, function (data, status) {
                     $("#idPres").select2("val", "");
                     $('#idPres').empty();
                     $("#idPres").append($("<option> </option>").val("").html("Seleccionar"));

                     if (data != "NO") {
                         if (data != 'VACIO') {
                             $.each(data, function (i, item) {
                                 $("#idPres").append($("<option> </option>").val(item.codigo).html(item.nombre));
                             });
                            //--************************************
                            $("#idPres").find("option:last").prop("selected", true);
                            var resulEmp = $("#idPres option:selected").text();
                            var valorEmp = $("#idPres option:selected").val();
                            $("#idPres").select2("data", { id: valorEmp, text: resulEmp });
                            console.log("Entro If");
                            console.log(resulEmp + "-" + valorEmp);
                            //--************************************
                         }
                         $("#procede").val('false');//procede con un presupuesto elegido
                     } else {
                         $("#procede").val('true');//procede sin presupuesto
                     }
                 });
             } else {
                 $("#procede").val('');//procede con un presupuesto elegido
                 $("#idPres").select2("val", "");
                 $('#idPres').empty();
                 $("#idPres").append($("<option> </option>").val("").html("Seleccionar"));
             }

         }
        function cargaTipoGasto() {
            $("#idTipGasAct").prop("disabled", true);
            var RolOptions = {};
            RolOptions.url = "/SolicitudGastoMkt/buscarTipoGasto";
            //tipGas_Actividadas_Actividadas_Actividad
            RolOptions.type = "POST";
            RolOptions.data = JSON.stringify({ idActiv: $("#idActiv").val() });
            RolOptions.datatype = "json";
            RolOptions.contentType = "application/json";
            RolOptions.success = function (data) {
                $("#idTipGasAct").select2("val", "");
                $('#idTipGasAct').empty();
                $("#idTipGasAct").append($("<option> </option>").val("").html("Seleccionar"));
                $.each(data, function (i, item) {
                    $("#idTipGasAct").append($("<option> </option>").val(item.value).html(item.text));
                });

            };
            RolOptions.error = function () { alert("Error in Getting States!!"); };
            $.ajax(RolOptions);
            $("#idTipGasAct").prop("disabled", false);
        }
        function cargaGasto() {
            $("#idActGas").prop("disabled", false);
            var RolOptions = {};
            RolOptions.url = "/SolicitudGastoMkt/buscarGasto";
            RolOptions.type = "POST";
            RolOptions.data = JSON.stringify({ idActiv: $("#idActiv").val(), idTipGasAct: $("#idTipGasAct").val()  });
            RolOptions.datatype = "json";
            RolOptions.contentType = "application/json";
            RolOptions.success = function (data) {
                $("#idActGas").select2("val", "");
                $('#idActGas').empty();
                $("#idActGas").append($("<option> </option>").val("").html("Seleccionar"));
                $.each(data, function (i, item) {
                    $("#idActGas").append($("<option> </option>").val(item.value).html(item.text));
                });

            };
            RolOptions.error = function () { alert("Error in Getting States!!"); };
            $.ajax(RolOptions);
            $("#idActGas").prop("disabled", false);
        }
        function addRowActi() {
            var tipGast = $('#idTipGasAct').val();
            var tipGastNom = $('#idTipGasAct').find(":selected").text();
            var gast = $('#idActGas').val();
            var gastNom = $('#idActGas').find(":selected").text();
            var prom = $('#monProm').val();
            var cant = $('#monCant').val();
            var total = $('#monTotal').val();
            var acti=$('#idActiv').val();
            var row = "";
            var dup = false;
            var act = false;
            var detalle = 0;

            if (tipGast != "" && gast != "" && prom != "" && cant != "" && (total != "" && total != "0")) {
                $('#tb_actividad tbody tr').each(function (index) {//verifico que no sea repetido
                    if ($('#tb_actividad tbody tr').eq(index).find("td").eq(parseInt(2)).html() == gast) {
                        dup = true;
                        return false;
                    }
                     if ($('#tb_actividad tbody tr').eq(index).find("td").eq(parseInt(7)).html() != acti) {
                        act = true;
                        return false;
                    }
                });
                if (dup) {
                    $("div #danger").removeClass('hidden');
                    $("div #danger").text('No se puede Ingresar el mismo gasto');
                    setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                    setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                    return false;
                }
                if (act) {
                    $("div #danger").removeClass('hidden');
                    $("div #danger").text('No se puede ingresar otro gasto diferente a la actividad ya elegida');
                    setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                    setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                    return false;
                }
                //agrego
                row = "<tr>";
                row += "<td class='text-center hidden'>" + tipGast + "</td>";
                row += "<td class='text-center'>" + tipGastNom + "</td>";
                row += "<td class='text-center hidden'>" + gast + "</td>";
                row += "<td class='text-center'>" + gastNom + "</td>";
                row += "<td class='text-center hidden'>" + prom + "</td>";
                row += "<td class='text-center hidden'>" + cant + "</td>";
                row += "<td class='text-center'>" + total + "</td>";
                row += "<td class='text-center hidden'>" + acti + "</td>";
                row += "<td class='elimfila'><span class='glyphicon glyphicon-remove'></span></td>";
                row += "</tr>";
                $("#tb_actividad > tbody:last").append(row);

                //sumo todo
                $('#tb_actividad tbody tr').each(function (index) {//verifico que no sea repetido
                    detalle += parseFloat($('#tb_actividad tbody tr').eq(index).find("td").eq(parseInt(6)).html());
                });
                $('#monDetalle').val(detalle.toFixed(2));
                $('#idSuma').text(detalle.toFixed(2));

                //limpio los campos
                $('#monProm').val("");
                $('#monCant').val("");
                $('#monTotal').val("");
               // $("#responsive-modal-actividad").modal('hide');
            } else {
                $("div #danger").removeClass('hidden');
                $("div #danger").text('No se puede dejar en blanco');
                setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
            }

        }
        function cargarDetalleFamilia() {

            var row = "";
            var RolOptions = {};
            RolOptions.url = "/SolicitudGastoMkt/buscarDetalleGasto";
            RolOptions.type = "POST";
            RolOptions.data = JSON.stringify({ idActiv: $("#idActivEst").val() });
            RolOptions.datatype = "json";
            RolOptions.contentType = "application/json";
            RolOptions.success = function (data) {

                $("#tb_Familia > tbody").html("");

                $.each(data, function (i, item) {
                    row = "<tr>";
                    row += "<td class='hidden'>" + item.idFamRoe + "</td>";
                    row += "<td class='text-center'>" + item.nomFamRoe + "</td>";
                    row += "<td class='text-center'>" + item.numAreaTerap + "</td>";
                    row += "<td class='hidden'>" + item.idAreaTerap + "</td>";
                    row += "<td class='elimfila'><span class='glyphicon glyphicon-remove'></span></td>";
                    row += "</tr>";
                    $("#tb_Familia > tbody:last").append(row);
                });

            };
            RolOptions.error = function () { alert("Error in Getting States!!"); };
            $.ajax(RolOptions);
        }
         function cargarDetalleMedico() {

            var row = "";
            var RolOptions = {};
            RolOptions.url = "/SolicitudGastoMkt/buscarDetalleMedicoxActiv";
            RolOptions.type = "POST";
            RolOptions.data = JSON.stringify({ idActiv: $("#idActivEst").val() });
            RolOptions.datatype = "json";
            RolOptions.contentType = "application/json";
            RolOptions.success = function (data) {

                $("#tb_medico > tbody").html("");

                $.each(data, function (i, item) {
                    row = "<tr>";
                    row += "<td class='text-center'>" + item.idCli + "</td>";
                    row += "<td class='text-center'>" + item.nomCli + "</td>";
                    row += "<td class='text-center'>" + item.nroMatCli + "</td>";
                    row += "<td class='elimfila'><span class='glyphicon glyphicon-remove'></span></td>";
                    row += "</tr>";
                    $("#tb_medico > tbody:last").append(row);
                });

            };
            RolOptions.error = function () { alert("Error in Getting States!!"); };
            $.ajax(RolOptions);
        }
        function habilitarTipSol() {
            if ($("#idTipSol").val() == '1') {
                $("#monImp").removeAttr("readonly");
            }
            else {
                $("#monImp").attr("readonly", "readonly");
            }
        }
        $('#btn-sendFormP').click(function () {
            var formContainer = $('#pro-form');
            console.log(formContainer);
            if ($("#niffPro").val() != ""  && $("#nomProv").val() != "") {
                 $.ajax({
                     url: '@Url.Action("CrearProvModelo", "Proveedor", new { Area = "Sistemas" })',
                     type: 'POST',
                     cache: false,
                     data: formContainer.serialize(),
                     success: function (result) {
                         if (result == 'ok') {
                             $("#responsive-modal-modelP").modal('hide');
                             $("#niffPro").empty();
                             $("#nomProv").empty();
                         } else {
                             $("div #danger").removeClass('hidden');
                             $("div #danger").text(data);
                             setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                             setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                             return false;
                         }
                     },
                     error: function (jqXHR, textStatus, error) {
                         alert("Estado: Error inesperado");
                     }
                 });
             } else {
                 $("div #danger").removeClass('hidden');
                 $("div #danger").text('Debe completar todos los campos obligatorios (*)');
                 setTimeout(function () { $("div #danger").fadeOut(2000).fadeIn(2000).fadeOut(1500).fadeIn(1500).fadeOut(500) }, 500);
                 setTimeout(function () { $("div #danger").addClass('hidden'); }, 4000);
                 return false;
             }
        });
        ///////////////////////////////////////////////////////
        //Efecto de bloqueo en espera .....
        function block() {
            $("section.block1").block({
                message: "<h4><img src='../../Content/plugins/images/busy.gif' />...</h4>",
                css: { border: "100px solid #fff" }
            });
        };

        function unblock() {
            $("section.block1").unblock();
        };


    </script>
}
