@model PortalRoemmers.Areas.Sistemas.Models.Equipo.EquipoModels
@using PortalRoemmers.Security
@{
    ViewBag.Title = "EliminarEquipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12">
    <div class="white-box p-l-20 p-r-20">
        <h3 class="box-title m-b-0"> Eliminar Equipo</h3>
        <p class="text-muted m-b-30 font-13">¿Estás seguro que quieres eliminar esto?</p>
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Eliminar", "Equipo", FormMethod.Post, new { @class = "form-horizontal form-material" }))
                {
                    @Html.HiddenFor(model => model.idEquipo)
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="col-md-12">@Html.LabelFor(model => model.procesador)</label>
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.procesador.nomProce, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12">@Html.LabelFor(model => model.sisOp)</label>
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.sisOp.nomSo, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12">@Html.LabelFor(model => model.memEqui)</label>
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.memEqui, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12">@Html.LabelFor(model => model.discEqui)</label>
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.discEqui, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12">@Html.LabelFor(model => model.nomPcEqui)</label>
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.nomPcEqui, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                        </div>
                    </div>


                    <button class="btn btn-info btn-rounded btn-outline waves-effect waves-light m-r-10">Guardar</button>
                    @Html.ActionLink("Volver", "Index", new { menuArea = SessionPersister.ActiveMenu, menuVista = SessionPersister.ActiveVista, pagina = SessionPersister.Pagina, search = SessionPersister.Search }, new { @Class = "btn btn-default btn-rounded btn-outline waves-effect waves-light" })
                }
            </div>
        </div>
    </div>
</div>
